<div style="margin-top:0.2em">
  <a href="{plink :Payments:PaymentsRecurrentAdmin:ReactivateFailedPayment $recurrentPayment->id}" class="btn btn-sm btn-primary">
    <i class="fa fa-refresh"></i> {_"payments.admin.payments_recurrent.reactivate_failed_payment.action"}
  </a>
</div>
