{block #title}Average revenue per user{/block}

{block #content}

{include 'header.latte'}

<div class="row text-center">
	<div class="col-md-12">
		{control dateFilterForm}
	</div>
</div>

<hr/>

<div class="row">
	<div class="col-md-12">
		{control googleArpuGraph}
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		{control googleSubscriptionsAndDonationsArpuGraph}
	</div>
</div>
