<div class="row">
	<div class="col-md-12">
		<h1>{_payments.admin.stats.title}</h1>
		<ul class="nav nav-pills sub-nav-payments">
			<li role="presentation" n:class="$presenter->isLinkCurrent('default') ? active"><a n:href="default">{_payments.admin.stats.menu.general}</a></li>
			<li role="presentation" n:class="$presenter->isLinkCurrent('arpu') ? active"><a n:href="arpu">{_payments.admin.stats.menu.arpu}</a></li>
		</ul>
	</div>
</div>
