<div class="row">
	<div class="col-md-12">
		<h1>Štatistiky platieb</h1>
		<ul class="nav nav-pills sub-nav-payments">
			<li role="presentation" n:class="$presenter->isLinkCurrent('default') ? active"><a n:href="default">Všeobecné</a></li>
			<li role="presentation" n:class="$presenter->isLinkCurrent('arpu') ? active"><a n:href="arpu">ARPU</a></li>
		</ul>
	</div>
</div>
