<span class="badge">{$totalAmount|price:null,0}</span>
{_dashboard.total.payments.title} <i class="fa fa-question-circle" data-toggle="tooltip" data-original-title="{_dashboard.total.payments.tooltip}"></i>