<span class="badge">{$totalAmount|price}</span>
{_dashboard.total.payments.title} <i class="fa fa-question-circle" data-toggle="tooltip" data-original-title="{_dashboard.total.subscriptions.tooltip}"></i>