{block #title}Uprav {$type->name}{/block}

{block #content}

<div class="row">
  <div class="col-md-12">
  <a href="{link PaymentGatewaysAdmin:Show $user->id}"><i class="fa fa-angle-left"></i> späť na záznam</a>
    <div class="page-header">
      <h1>
        Úprava typu platby:
        <small>[{$type->id}]</small>
      	{$type->name}
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    {control paymentGatewayForm}
  </div>
</div>
