{block #title}Nový Platobná brána{/block}

{block #content}

<div class="row">
  <div class="col-md-12">
    <a href="{link PaymentGatewaysAdmin:Default}"><i class="fa fa-angle-left"></i> späť na záznamy</a>
    <div class="page-header">
      <h1>
        Nový type platby
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    {control paymentGatewayForm}
  </div>
</div>
