{if count($recurrentPayments) == 0}
    <p>{_payments.admin.component.duplicate_recurrent_payments.none_found}</p>
{else}
    {snippet mailQueuelisting}

        <table class="table table-striped table-hover">
            <thead>
                <th>{_payments.admin.component.duplicate_recurrent_payments.id}</th>
                <th>{_payments.admin.component.duplicate_recurrent_payments.cid}</th>
                <th>{_payments.admin.component.duplicate_recurrent_payments.created}</th>
                <th>{_payments.admin.component.duplicate_recurrent_payments.edited}</th>
                <th>{_payments.admin.component.duplicate_recurrent_payments.next_charge}</th>
                <th>{_payments.admin.component.duplicate_recurrent_payments.subscription_type}</th>
                <th>{_payments.admin.component.duplicate_recurrent_payments.card_expiration}</th>
                <th>{_payments.admin.component.duplicate_recurrent_payments.status}</th>
                <th>{_payments.admin.component.duplicate_recurrent_payments.actions}</th>
            </thead>
            <tbody>
            {foreach $recurrentPayments as $recurrentPayment}
                <tr>
                    <td> #{$recurrentPayment->user_id}</td>
                    <td colspan="8">
                        <strong><a href="{plink :Users:UsersAdmin:Show $recurrentPayment->user_id}">{$recurrentPayment->user->email}</a></strong>
                    </td>
                </tr>
                {foreach $recurrentPayment->user->related('recurrent_payments') as $payment}
                    {if $payment->state == 'active' &&  $payment->charge_at > new \DateTime()}
                        <tr>
                            <td>
                                <small>#{$payment->id}</small>
                                <i n:if="$payment->note" class="fa fa-info-circle text-danger fa-wh" data-toggle="tooltip" data-placement="top" title="{$payment->note|breaklines}"></i>
                            </td>
                            <td><code>{$payment->cid}</code></td>
                            <td class="text-muted">{$payment->created_at|userDate}</td>
                            <td class="text-muted">{$payment->updated_at|userDate}</td>
                            <td>{$payment->charge_at|userDate}</td>
                            <td>
                                <a href="{plink :Subscriptions:SubscriptionTypesAdmin:Show $payment->subscription_type_id}">{$payment->subscription_type->name}</a>
                                {if $payment->next_subscription_type_id}
                                    <br>
                                {_payments.admin.component.duplicate_recurrent_payments.next_subscription} <a href="{plink :Subscriptions:SubscriptionTypesAdmin:Show $payment->next_subscription_type_id}">{$payment->next_subscription_type->name}</a>
                                {/if}
                            </td>
                            <td><small class="text text-muted">{if $payment->expires_at}{$payment->expires_at|userDate}{else}N/A{/if}</small></td>
                            <td>{$payment->status}</td>
                            <td>
                                <a class="btn btn-primary" href="{link StopRecurrentPayment! $payment->id}" onclick="return confirm('{_payments.admin.component.duplicate_recurrent_payments.stop_recurrent_profile_confirm}')"><i class="fa fa-close"></i> {_payments.admin.component.duplicate_recurrent_payments.stop_recurrent_profile}</a>
                            </td>
                        </tr>
                    {/if}
                {/foreach}
            {/foreach}
            </tbody>
        </table>

    {/snippet}
{/if}
