{if $totalPayments == 0}
  <div class="bs-callout bs-callout-info">
    <h4>{_"payments.admin.component.user_payments_listing.no_payments.title"}</h4>
    <p class="lead">{_"payments.admin.component.user_payments_listing.no_payments.message"}</p>
  </div>
{else}
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>{_"payments.admin.component.user_payments_listing.caption.id"}</th>
        <th>{_"payments.admin.component.user_payments_listing.caption.variable_symbol"}</th>
        <th>{_"payments.admin.component.user_payments_listing.caption.amount"}</th>
        <th>{_"payments.admin.component.user_payments_listing.caption.payment_gateway"}</th>
        <th>{_"payments.admin.component.user_payments_listing.caption.payment_items"}</th>
        <th>{_"payments.admin.component.user_payments_listing.caption.status"}</th>
        <th>{_"payments.admin.component.user_payments_listing.caption.created"}</th>
        <th>{_"payments.admin.component.user_payments_listing.caption.source"}</th>
        <th>{_"payments.admin.component.user_payments_listing.caption.actions"}</th>
      </tr>
    </thead>
    <tbody>
      <tr n:foreach="$payments as $payment">
        <td><small class="text-muted">#{$payment->id}</small></td>

        <td>
          {$payment->variable_symbol}
          <i n:if="$payment->note" class="fa fa-info-circle text-danger fa-wh"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   title="{$payment->note|breaklines}"></i>

          {control simpleWidget 'admin.payments.user_payments_listing.badge', $payment}
        </td>

        <td>
          {$payment->amount|price}
          <span n:if="$payment->additional_type" class="label label-primary">
            {$payment->additional_amount|price} {_"payments.admin.component.user_payments_listing.payment.badge_donation"}
            {if $payment->additional_type == 'recurrent'} {$payment->additional_type}{/if}
          </span>
        </td>

        <td>{$payment->payment_gateway->name}</td>

        <td>
          <div class="list-group">
            {foreach $payment->related('payment_items') as $paymentItem}
              <div class="list-group-item">
                {control simpleWidget 'payments.admin.payment_item_listing', $paymentItem}
              </div>
            {/foreach}

            {if $payment->address_id}
              {_"payments.admin.component.user_payments_listing.payment.address"}: <a href="{plink :Users:AddressAdmin:edit $payment->address_id}">#{$payment->address_id}</a>
            {/if}
          </div>
        </td>

        <td>
          <div class="dropdown clearfix">
            {var $btn_class = 'btn-default'}
            {if $payment->status == \Crm\PaymentsModule\Repository\PaymentsRepository::STATUS_PAID || $payment->status == \Crm\PaymentsModule\Repository\PaymentsRepository::STATUS_IMPORTED}
              {var $btn_class = 'btn-success'}
            {elseif $payment->status == \Crm\PaymentsModule\Repository\PaymentsRepository::STATUS_FORM}
              {var $btn_class = 'btn-info'}
            {elseif $payment->status == \Crm\PaymentsModule\Repository\PaymentsRepository::STATUS_FAIL || $payment->status == \Crm\PaymentsModule\Repository\PaymentsRepository::STATUS_TIMEOUT}
              {var $btn_class = 'btn-danger'}
            {/if}
            <button class="btn {$btn_class} btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              {$payment->status|firstUpper}
              <span class="caret"></span>
            </button>
            <ul n:inner-foreach="$paymentStatuses as $paymentStatus" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              {if $paymentStatus === \Crm\PaymentsModule\Repository\PaymentsRepository::STATUS_PAID}
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#change-status-modal-{$payment->id}">{$paymentStatus|firstUpper}</a>
                </li>
              {else}
                <li  role="presentation">
                  <a role="menuitem" tabindex="-1" href="{plink :Payments:PaymentsAdmin:changeStatus status => $paymentStatus, payment => $payment->id}">{$paymentStatus|firstUpper}</a>
                </li>
              {/if}
            </ul>
          </div>
        </td>

        <td>
          <small class="text-muted">{$payment->created_at|userDate}</small>
          {if $payment->paid_at}
            <br>
            <small>{_"payments.admin.component.user_payments_listing.payment.paid"} {$payment->paid_at|userDate}</small>
          {/if}
          {if $payment->subscription_start_at && $payment->subscription_end_at}
            {if $payment->subscription_start_at < new \DateTime()}
              <p><small>
                  {_"payments.admin.component.user_payments_listing.payment.active_from_confirmation_to", [
                      'active_to' => ($payment->subscription_end_at|userDate),
                  ]|noescape}
                </small></p>
            {else}
              <p><small>
                  {_"payments.admin.component.user_payments_listing.payment.active_from_to", [
                      'active_from' => ($payment->subscription_start_at|userDate),
                      'active_to' => ($payment->subscription_end_at|userDate),
                  ]|noescape}
                </small></p>
            {/if}
          {elseif $payment->subscription_start_at}
            <p><small>
                {_"payments.admin.component.user_payments_listing.payment.active_from", [
                      'active_from' => ($payment->subscription_start_at|userDate),
                  ]|noescape}
              </small></p>
          {/if}
          <br>
        </td>

        <td>
          <ul class="list-group" style="font-size: 0.9em;">
            {control simpleWidget 'payments.admin.payment_source_listing', $payment}

            <li n:if="$payment->referer" class="list-group-item">
              <strong>{_"payments.admin.component.user_payments_listing.referrer"}: </strong>
              <a href="{$payment->referer|checkurl}">{$payment->referer|substr:0, 64}...</a>
            </li>
          </ul>
        </td>

        <td style="white-space: nowrap">
          <div style="margin-bottom: 2px">
            <a href="{plink :Payments:PaymentsAdmin:Edit $payment->id, $payment->user_id}" class="btn btn-primary btn-sm">
              <i class="fa fa-edit"></i> {_"payments.admin.component.user_payments_listing.edit"}
            </a>
          </div>
          {control simpleWidget 'admin.payments.listing.action', $payment}
        </td>
      </tr>
    </tbody>
  </table>

  {foreach $payments as $payment}
    {control changePaymentStatus $payment}
  {/foreach}
{/if}

<a href="{plink :Payments:PaymentsAdmin:New $userId}" class="btn btn-default">
  <i class="fa fa-magic"></i> {_"payments.admin.component.user_payments_listing.add_manual_payment"}
</a>

{if $totalRecurrentPayments > 0}
  <h3>{_"payments.admin.component.user_payments_listing.recurrent_profile.title"}</h3>
  <hr>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>{_"payments.admin.component.user_payments_listing.caption.id"}</th>
        <th>{_"payments.admin.component.user_payments_listing.caption.cid"}</th>
        <th>{_"payments.admin.component.user_payments_listing.caption.created"}</th>
        <th>{_"payments.admin.component.user_payments_listing.caption.edited"}</th>
        <th>{_"payments.admin.component.user_payments_listing.caption.next_charge"}</th>
        <th>{_"payments.admin.component.user_payments_listing.caption.subscription_type"}</th>
        <th>{_"payments.admin.component.user_payments_listing.caption.card_expiration"}</th>
        <th>{_"payments.admin.component.user_payments_listing.caption.created_payment_id"}</th>
        <th>{_"payments.admin.component.user_payments_listing.caption.status"}</th>
        <th>{_"payments.admin.component.user_payments_listing.caption.recurrent_state"}</th>
        <th>{_"payments.admin.component.user_payments_listing.caption.actions"}</th>
      </tr>
    </thead>
    <tbody>
      <tr n:foreach="$recurrentPayments as $recurrentPayment">
        <td>
          <small>#{$recurrentPayment->id}</small>
          <i n:if="$recurrentPayment->note" class="fa fa-info-circle text-danger fa-wh" data-toggle="tooltip" data-placement="top" title="{$recurrentPayment->note|breaklines}"></i>
        </td>
        <td><code>{$recurrentPayment->cid}</code></td>
        <td class="text-muted">{$recurrentPayment->created_at|userDate}</td>
        <td class="text-muted">{$recurrentPayment->updated_at|userDate}</td>
        <td>{$recurrentPayment->charge_at|userDate}</td>
        <td>
          <a href="{plink :Subscriptions:SubscriptionTypesAdmin:Show $recurrentPayment->subscription_type_id}">{$recurrentPayment->subscription_type->name}</a>

          {var $nextSubscriptionType = $recurrentPayment->subscription_type}
          {if $recurrentPayment->next_subscription_type_id}
            {var $nextSubscriptionType = $recurrentPayment->next_subscription_type}
          {/if}
          {if $nextSubscriptionType->next_subscription_type_id}
            {var $nextSubscriptionType = $nextSubscriptionType->next_subscription_type}
          {/if}
          {if $nextSubscriptionType && $recurrentPayment->subscription_type_id != $nextSubscriptionType->id}
            <br>
          {_"payments.admin.component.user_payments_listing.recurrent_profile.next_subscription"} <a href="{plink :Subscriptions:SubscriptionTypesAdmin:Show $nextSubscriptionType->id}">{$nextSubscriptionType->name}</a>
          {/if}

        </td>
        <td><small class="text text-muted">
            {if $recurrentPayment->expires_at}{$recurrentPayment->expires_at|userDate}
            {else}{_"payments.admin.component.user_payments_listing.n_a"}
            {/if}
          </small></td>
        <td><small>#{$recurrentPayment->parent_payment_id}</small></td>
        <td>{$recurrentPayment->status}</td>
        <td>
          {if $recurrentPayment->state == \Crm\PaymentsModule\Repository\RecurrentPaymentsRepository::STATE_ACTIVE && $recurrentPayment->status == NULL}
            {if $canBeStopped($recurrentPayment)}
              <a class="btn btn-primary"
                 href="{link StopRecurrentPayment! $recurrentPayment->id}"
                 onclick="return confirm({_"payments.admin.component.user_payments_listing.recurrent_profile.stop_recurrent_profile_confirm"})">
                <i class="fa fa-ban"></i> {_"payments.admin.component.user_payments_listing.recurrent_profile.stop_recurrent_profile"}
              </a>
            {else}
              <span class="d-inline-block" tabindex="0">
                <span class="btn btn-primary disabled">
                  <i class="fa fa-ban"></i> {_"payments.admin.component.user_payments_listing.recurrent_profile.stop_recurrent_profile"}
                </span>
              </span>
              {control simpleWidget 'payments.user_payments.listing.recurrent', $recurrentPayment}
            {/if}
          {elseif $recurrentPayment->state == \Crm\PaymentsModule\Repository\RecurrentPaymentsRepository::STATE_USER_STOP}
            <span class="label label-info">{_"payments.admin.component.user_payments_listing.recurrent_profile.user_stop"}</span>
          {elseif $recurrentPayment->state == \Crm\PaymentsModule\Repository\RecurrentPaymentsRepository::STATE_ADMIN_STOP}
            <span class="label label-info">{_"payments.admin.component.user_payments_listing.recurrent_profile.admin_stop"}</span>
          {elseif $recurrentPayment->state == \Crm\PaymentsModule\Repository\RecurrentPaymentsRepository::STATE_SYSTEM_STOP}
            <span class="label label-danger">{_"payments.admin.component.user_payments_listing.recurrent_profile.system_stop"}</span>
          {elseif $recurrentPayment->state == \Crm\PaymentsModule\Repository\RecurrentPaymentsRepository::STATE_CHARGED}
            <span class="label label-success">{_"payments.admin.component.user_payments_listing.recurrent_profile.charged"}</span>
          {elseif $recurrentPayment->state == \Crm\PaymentsModule\Repository\RecurrentPaymentsRepository::STATE_CHARGE_FAILED}
            <span class="label label-warning">{_"payments.admin.component.user_payments_listing.recurrent_profile.charge_failed"}</span>
          {/if}
        </td>
        <td>
          <a href="{plink :Payments:PaymentsRecurrentAdmin:Edit $recurrentPayment->id}" class="btn btn-sm btn-primary">
            <i class="fa fa-edit"></i> {_"payments.admin.component.user_payments_listing.edit"}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
{/if}

{if $parsedEmails->count('*') > 0}
  <hr>
  <h3>{_"payments.admin.component.user_payments_listing.parsed_mail_logs.title"}</h3>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>{_"payments.admin.component.user_payments_listing.caption.created"}</th>
        <th>{_"payments.admin.component.user_payments_listing.caption.received"}</th>
        <th>{_"payments.admin.component.user_payments_listing.caption.variable_symbol"}</th>
        <th>{_"payments.admin.component.user_payments_listing.caption.amount"}</th>
        <th>{_"payments.admin.component.user_payments_listing.caption.payment"}</th>
        <th>{_"payments.admin.component.user_payments_listing.caption.status"}</th>
        <th>{_"payments.admin.component.user_payments_listing.caption.message"}</th>
      </tr>
    </thead>
    <tbody>
      <tr n:foreach="$parsedEmails as $log">
        <td>{$log->created_at|userDate}</td>
        <td>{$log->delivered_at|userDate}</td>
        <td><a href="{plink :Payments:PaymentsAdmin:default text => $log->variable_symbol}">{$log->variable_symbol}</a></td>
        <td><b>{$log->amount|price}</b></td>
        <td>
           {if $log->payment_id}
             <a href="{plink :Payments:PaymentsAdmin:default text => $log->variable_symbol}">
               {_"payments.admin.component.user_payments_listing.caption.payment"} #{$log->payment_id}
             </a>
           {else}
             {_"payments.admin.component.user_payments_listing.n_a"}
           {/if}
        </td>
        <td>
          {if $log->state == \Crm\PaymentsModule\MailConfirmation\ParsedMailLogsRepository::STATE_CHANGED_TO_PAID}
            <span class="label label-primary">{_"payments.admin.component.user_payments_listing.parsed_mail_logs.changed_to_paid"}</span>
          {elseif $log->state == \Crm\PaymentsModule\MailConfirmation\ParsedMailLogsRepository::STATE_ALREADY_PAID}
            <span class="label label-primary">{_"payments.admin.component.user_payments_listing.parsed_mail_logs.already_paid"}</span>
          {elseif $log->state == \Crm\PaymentsModule\MailConfirmation\ParsedMailLogsRepository::STATE_DIFFERENT_AMOUNT}
            <span class="label label-danger">{_"payments.admin.component.user_payments_listing.parsed_mail_logs.different_amount"}</span>
          {elseif $log->state == \Crm\PaymentsModule\MailConfirmation\ParsedMailLogsRepository::STATE_WITHOUT_VS}
            <span class="label label-warning">{_"payments.admin.component.user_payments_listing.parsed_mail_logs.without_vs"}</span>
          {else}
            <span class="label label-default">{$log->state}</span>
          {/if}
        </td>
        <td><code>{$log->message}</code></td>
      </tr>
    </tbody>
  </table>
{/if}
