<div n:if="count($listPayments) > 0" class="bs-callout bs-callout-warning">
  <h4>Zlá suma prijatá na účet</h4>
  <a n:foreach="$listPayments as $payment" href="{plink :Users:UsersAdmin:show id => $payment['user_id']}">{$payment['amount']} <small>({$payment['email']})</small>{sep},{/sep}</a>
</div>
