{block #content}

<div class="row">
    <div class="col-xs-12">
        <h1 n:block="title" class="page-header">
            Duplicitné recurrentné platby
        </h1>

        {control duplicateRecurrentPayments}
    </div>
</div>
