{block #content}

<div class="row">
    <div class="col-xs-12">
        <h1 n:block="title" class="page-header">
            {_payments.admin.payments_recurrent.duplicates}
        </h1>

        {control duplicateRecurrentPayments}
    </div>
</div>
