{block #title}[#{$subscription->id}] {_payments.admin.subscriptions_pause.header}{/block}

{block #content}
<div class="row">
  <div class="col-md-12">
    <a n:href=":Users:UsersAdmin:Show $subscription->user->id">
      <i class="fa fa-angle-left"></i> {_payments.admin.subscriptions_pause.back_to_user}
    </a>

    <div class="page-header">
      <h1>
        <small>[#{$subscription->id}]</small>
        {_payments.admin.subscriptions_pause.header}
      </h1>
    </div>
  </div>
</div>

{control subscriptionPausePreviewForm}
