services:
	moduleManager:
		setup:
			- addModule(Crm\PaymentsModule\PaymentsModule())

	gatewayFactory:
		factory: Crm\PaymentsModule\GatewayFactory
		setup:
			- registerGateway('bank_transfer', Crm\PaymentsModule\Gateways\BankTransfer)

	paymentGatewaysRepository: Crm\PaymentsModule\Repository\PaymentGatewaysRepository
	paymentGatewayMetaRepository: Crm\PaymentsModule\Repository\PaymentGatewayMetaRepository
	paymentsRepository: Crm\PaymentsModule\Repository\PaymentsRepository
	paymentLogsRepository: Crm\PaymentsModule\Repository\PaymentLogsRepository
	paymentMetaRepository: Crm\PaymentsModule\Repository\PaymentMetaRepository
	recurrentPaymentsRepository: Crm\PaymentsModule\Repository\RecurrentPaymentsRepository
	parsedMailLogsRepository: Crm\PaymentsModule\MailConfirmation\ParsedMailLogsRepository
	paymentItemsRepository: Crm\PaymentsModule\Repository\PaymentItemsRepository
	paymentItemMetaRepository: Crm\PaymentsModule\Repository\PaymentItemMetaRepository
	retentionAnalysisJobsRepository: Crm\PaymentsModule\Repository\RetentionAnalysisJobsRepository

	- Crm\PaymentsModule\Forms\PaymentFormFactory
	- Crm\PaymentsModule\Forms\PaymentGatewayFormFactory
	- Crm\PaymentsModule\PaymentsHistogramFactory
	recurrentPaymentsResolver: Crm\PaymentsModule\RecurrentPaymentsResolver
	- Crm\PaymentsModule\Forms\RecurrentPaymentFormFactory
	- Crm\PaymentsModule\Forms\RetentionAnalysisFilterFormFactory
	- Crm\PaymentsModule\Forms\ChangePaymentSubscriptionTypeFormFactory
	- Crm\PaymentsModule\PaymentProcessor
	- Crm\PaymentsModule\RecurrentPaymentsProcessor
	- Crm\PaymentsModule\Builder\ParsedMailLogsBuilder
	- Crm\PaymentsModule\AdminFilterFormData
	- Crm\PaymentsModule\Models\AverageMonthPayment

	- Crm\PaymentsModule\MailConfirmation\TatraBankaMailDownloader
	- Crm\PaymentsModule\MailConfirmation\CsobMailDownloader
	- Crm\PaymentsModule\MailConfirmation\SkCsobMailDownloader
	- Crm\PaymentsModule\MailConfirmation\TatraBankaStatementMailDownloader
	- Crm\PaymentsModule\MailConfirmation\MailProcessor
	- Crm\PaymentsModule\Components\ChangePaymentStatusFactoryInterface
	- Crm\PaymentsModule\Components\DuplicateRecurrentPaymentsControlFactoryInterface
	- Crm\PaymentsModule\Components\LastPaymentsControlFactoryInterface
	- Crm\PaymentsModule\Components\TotalUserPayments
	- Crm\PaymentsModule\Components\PaymentItemsListWidget
	- Crm\PaymentsModule\Components\DonationPaymentItemsListWidget
	- Crm\PaymentsModule\Components\AuthorizationPaymentItemListWidget
	- Crm\PaymentsModule\Components\DeviceUserListingWidget
	- Crm\PaymentsModule\Components\MonthDonationAmountStatWidget
	- Crm\PaymentsModule\Components\MonthToDateDonationAmountStatWidget
	- Crm\PaymentsModule\Components\AddressWidget
	- Crm\PaymentsModule\Components\ChangePaymentSubscriptionTypeWidget
	- Crm\PaymentsModule\Commands\RecurrentPaymentsCardCheck
	- Crm\PaymentsModule\Commands\RecurrentPaymentsChargeCommand
	- Crm\PaymentsModule\Commands\CsobMailConfirmationCommand
	- Crm\PaymentsModule\Commands\TatraBankaMailConfirmationCommand
	- Crm\PaymentsModule\Commands\UpdateRecurrentPaymentsExpiresCommand
	- Crm\PaymentsModule\Commands\StopRecurrentPaymentsExpiresCommand
	- Crm\PaymentsModule\Commands\LastPaymentsCheckCommand
	- Crm\PaymentsModule\Commands\CidGetterCommand
	- Crm\PaymentsModule\Commands\SingleChargeCommand
	- Crm\PaymentsModule\Commands\SkCsobMailConfirmationCommand
	- Crm\PaymentsModule\Commands\TatraBankaStatementMailConfirmationCommand
	- Crm\PaymentsModule\Commands\CancelAuthorizationCommand
	- Crm\PaymentsModule\Api\VariableSymbolApiHandler
	- Crm\PaymentsModule\Api\ListRecurrentPaymentsApiHandler
	- Crm\PaymentsModule\Api\ReactivateRecurrentPaymentApiHandler
	- Crm\PaymentsModule\Api\StopRecurrentPaymentApiHandler
	- Crm\PaymentsModule\MailConfirmation\CidGetterDownloader
	variableSymbol:
		factory: Crm\PaymentsModule\Repository\VariableSymbol
	- Crm\PaymentsModule\Commands\CalculateAveragesCommand
	- Crm\PaymentsModule\Gateways\Paypal
	- Crm\PaymentsModule\Gateways\PaypalReference
	- Crm\PaymentsModule\Gateways\Tatrapay
	- Crm\PaymentsModule\Gateways\Cardpay
	- Crm\PaymentsModule\Gateways\Comfortpay
	- Crm\PaymentsModule\Gateways\BankTransfer
	- Crm\PaymentsModule\Gateways\Free
	- Crm\PaymentsModule\Gateways\Csob
	- Crm\PaymentsModule\Gateways\CsobOneClick
	- Crm\PaymentsModule\Gateways\CardPayAuthorization
	- Crm\PaymentsModule\Segment\PaymentCriteria
	- Crm\PaymentsModule\Segment\PaymentCountsCriteria
	- Crm\PaymentsModule\Segment\RecurrentPaymentCriteria
	- Crm\PaymentsModule\User\PaymentsUserDataProvider
	- Crm\PaymentsModule\User\RecurrentPaymentsUserDataProvider
	- Crm\PaymentsModule\DataProvider\CanDeleteAddressDataProvider
	- Crm\PaymentsModule\DataProvider\PaymentsClaimUserDataProvider
	- Crm\PaymentsModule\DataProvider\RecurrentPaymentsClaimUserDataProvider
	- Crm\PaymentsModule\Scenarios\PaymentStatusCriteria
	- Crm\PaymentsModule\Scenarios\RecurrentPaymentStatusCriteria
	- Crm\PaymentsModule\Scenarios\PaymentIsRecurrentChargeCriteria
	- Crm\PaymentsModule\Scenarios\IsActiveRecurrentSubscriptionCriteria
	- Crm\PaymentsModule\Scenarios\PaymentGatewayCriteria
	- Crm\PaymentsModule\Scenarios\RecurrentPaymentStateCriteria
	- Crm\PaymentsModule\Scenarios\PaymentHasSubscriptionCriteria
	- Crm\PaymentsModule\Scenarios\DonationAmountCriteria
	- Crm\PaymentsModule\Scenarios\PaymentHasItemTypeCriteria
	- Crm\PaymentsModule\Segment\AmountCriteria
	- Crm\PaymentsModule\Segment\StatusCriteria
	- Crm\PaymentsModule\Segment\ReferenceCriteria
	- Crm\PaymentsModule\Seeders\ConfigsSeeder
	- Crm\PaymentsModule\Seeders\PaymentGatewaysSeeder
	- Crm\PaymentsModule\Seeders\SegmentsSeeder

	# events
	- Crm\PaymentsModule\Events\PaymentStatusChangeHandler
	- Crm\PaymentsModule\Events\RecurrentPaymentCardExpiredEventHandler
	- Crm\PaymentsModule\Events\SubscriptionPreUpdateHandler
	- Crm\PaymentsModule\Events\SubscriptionMovedHandler

	subscribersWithPaymentWidgetFactory:
		factory: Crm\PaymentsModule\Components\SubscribersWithPaymentWidgetFactory

	retentionAnalysisJobHandler:
		factory: Crm\PaymentsModule\Hermes\RetentionAnalysisJobHandler

	- Crm\PaymentsModule\Hermes\ExportPaymentsHandler

	paymentCompleteRedirect:
		factory: Crm\PaymentsModule\Model\PaymentCompleteRedirectManager
		setup:
			- registerRedirectResolver(Crm\PaymentsModule\BankTransferPaymentCompleteRedirectResolver(), 10)
			- registerRedirectResolver(Crm\PaymentsModule\Models\RedirectResolver\AuthorizationPaymentCompleteRedirectResolver(), 600)

	paymentInvoiceProvider:
		factory: Crm\PaymentsModule\DataProvider\PaymentInvoiceProviderManager

	- Crm\PaymentsModule\Retention\RetentionAnalysis

	# widgets
	- Crm\PaymentsModule\Components\AvgMonthPaymentWidget
	- Crm\PaymentsModule\Components\AvgSubscriptionPaymentWidget
	- Crm\PaymentsModule\Components\UserPaymentsListing
	- Crm\PaymentsModule\Components\ParsedMailsFailedNotification
	- Crm\PaymentsModule\Components\TotalAmountStatWidget
	- Crm\PaymentsModule\Components\TodayAmountStatWidget
	- Crm\PaymentsModule\Components\MonthAmountStatWidget
	- Crm\PaymentsModule\Components\MonthToDateAmountStatWidget
	- Crm\PaymentsModule\Components\SubscriptionsWithActiveUnchargedRecurrentEndingWithinPeriodWidget
	- Crm\PaymentsModule\Components\SubscriptionsWithoutExtensionEndingWithinPeriodWidget
	- Crm\PaymentsModule\Components\PaidSubscriptionsWithoutExtensionEndingWithinPeriodWidget
	- Crm\PaymentsModule\Components\SubscriptionTypeReports
	- Crm\PaymentsModule\Components\MyNextRecurrentPayment
	- Crm\PaymentsModule\Components\RefundPaymentsListWidget
	- Crm\PaymentsModule\DataProvider\PaymentFromVariableSymbolDataProvider
	- Crm\PaymentsModule\DataProvider\SubscriptionsWithActiveUnchargedRecurrentEndingWithinPeriodDataProvider
	- Crm\PaymentsModule\DataProvider\SubscriptionsWithoutExtensionEndingWithinPeriodDataProvider
	- Crm\PaymentsModule\DataProvider\PaymentItemTypesFilterDataProvider
	- Crm\PaymentsModule\DataProvider\SubscriptionFormDataProvider

	actualPaidSubscribersStatWidget:
		factory: Crm\PaymentsModule\Components\ActualPaidSubscribersStatWidget
		setup:
			- setOnTheFly(true, 5)

	actualFreeSubscribersStatWidget:
		factory: Crm\PaymentsModule\Components\ActualFreeSubscribersStatWidget
		setup:
			- setOnTheFly(true, 5)

	paymentsExportsAdapter:
		factory: League\Flysystem\Adapter\Local
		arguments:
			root: '%appDir%/../content/payments-exports'
			permissions: [dir: [public: 0o777]]
	paymentsExportFileSystem: League\Flysystem\Filesystem(@paymentsExportsAdapter)

	applicationMountManager:
		setup:
			- mountFilesystem(Crm\PaymentsModule\Models\FileSystem::PAYMENTS_EXPORTS_BUCKET_NAME, @paymentsExportFileSystem, 'payments')
