services:
	moduleManager:
		setup:
			- addModule(Crm\PaymentsModule\PaymentsModule())

	gatewayFactory:
		class: Crm\PaymentsModule\GatewayFactory
		setup:
			- registerGateway('bank_transfer', Crm\PaymentsModule\Gateways\BankTransfer)

	paymentGatewaysRepository: Crm\PaymentsModule\Repository\PaymentGatewaysRepository
	paymentsRepository: Crm\PaymentsModule\Repository\PaymentsRepository
	paymentLogsRepository: Crm\PaymentsModule\Repository\PaymentLogsRepository
	paymentMetaRepository: Crm\PaymentsModule\Repository\PaymentMetaRepository
	recurrentPaymentsRepository: Crm\PaymentsModule\Repository\RecurrentPaymentsRepository
	parsedMailLogsRepository: Crm\PaymentsModule\MailConfirmation\ParsedMailLogsRepository
	paymentItemsRepository: Crm\PaymentsModule\Repository\PaymentItemsRepository
	paymentItemMetaRepository: Crm\PaymentsModule\Repository\PaymentItemMetaRepository
	retentionAnalysisJobsRepository: Crm\PaymentsModule\Repository\RetentionAnalysisJobsRepository

	- Crm\PaymentsModule\Forms\PaymentFormFactory
	- Crm\PaymentsModule\Forms\PaymentGatewayFormFactory
	- Crm\PaymentsModule\Forms\AccountantExportFormFactory
	- Crm\PaymentsModule\PaymentsHistogramFactory
	recurrentPaymentsResolver: Crm\PaymentsModule\RecurrentPaymentsResolver
	- Crm\PaymentsModule\Forms\RecurrentPaymentFormFactory
	- Crm\PaymentsModule\Forms\RetentionAnalysisFilterFormFactory
	- Crm\PaymentsModule\PaymentProcessor
	- Crm\PaymentsModule\RecurrentPaymentsProcessor
	- Crm\PaymentsModule\Builder\ParsedMailLogsBuilder

	- Crm\PaymentsModule\MailConfirmation\TatraBankaMailDownloader
	- Crm\PaymentsModule\MailConfirmation\CsobMailDownloader
	- Crm\PaymentsModule\MailConfirmation\SkCsobMailDownloader
	- Crm\PaymentsModule\MailConfirmation\TatraBankaStatementMailDownloader
	- Crm\PaymentsModule\MailConfirmation\MailProcessor
	- Crm\PaymentsModule\Components\ChangePaymentStatusFactoryInterface
	- Crm\PaymentsModule\Components\DuplicateRecurrentPaymentsControlFactoryInterface
	- Crm\PaymentsModule\Components\LastPaymentsControlFactoryInterface
	- Crm\PaymentsModule\Components\TotalUserPayments
	- Crm\PaymentsModule\Components\PaymentItemsListWidget
	- Crm\PaymentsModule\Components\DonationPaymentItemsListWidget
	- Crm\PaymentsModule\Components\DeviceUserListingWidget
	- Crm\PaymentsModule\Commands\RecurrentPaymentsCardCheck
	- Crm\PaymentsModule\Commands\RecurrentPaymentsChargeCommand
	- Crm\PaymentsModule\Commands\CsobMailConfirmationCommand
	- Crm\PaymentsModule\Commands\TatraBankaMailConfirmationCommand
	- Crm\PaymentsModule\Commands\UpdateRecurrentPaymentsExpiresCommand
	- Crm\PaymentsModule\Commands\StopRecurrentPaymentsExpiresCommand
	- Crm\PaymentsModule\Commands\LastPaymentsCheckCommand
	- Crm\PaymentsModule\Commands\CidGetterCommand
	- Crm\PaymentsModule\Commands\SingleChargeCommand
	- Crm\PaymentsModule\Commands\SkCsobMailConfirmationCommand
	- Crm\PaymentsModule\Commands\TatraBankaStatementMailConfirmationCommand
	- Crm\PaymentsModule\Api\VariableSymbolApiHandler
	- Crm\PaymentsModule\Api\ListRecurrentPaymentsApiHandler
	- Crm\PaymentsModule\Api\ReactivateRecurrentPaymentApiHandler
	- Crm\PaymentsModule\Api\StopRecurrentPaymentApiHandler
	- Crm\PaymentsModule\MailConfirmation\CidGetterDownloader
	variableSymbol:
		class: Crm\PaymentsModule\Repository\VariableSymbol
	- Crm\PaymentsModule\Commands\CalculateAveragesCommand
	- Crm\PaymentsModule\Gateways\Paypal
	- Crm\PaymentsModule\Gateways\PaypalReference
	- Crm\PaymentsModule\Gateways\Tatrapay
	- Crm\PaymentsModule\Gateways\Cardpay
	- Crm\PaymentsModule\Gateways\Comfortpay
	- Crm\PaymentsModule\Gateways\BankTransfer
	- Crm\PaymentsModule\Gateways\Free
	- Crm\PaymentsModule\Gateways\Csob
	- Crm\PaymentsModule\Gateways\CsobOneClick
	- Crm\PaymentsModule\Segment\PaymentCriteria
	- Crm\PaymentsModule\Segment\PaymentCountsCriteria
	- Crm\PaymentsModule\Segment\RecurrentPaymentCriteria
	- Crm\PaymentsModule\User\PaymentsUserDataProvider
	- Crm\PaymentsModule\User\RecurrentPaymentsUserDataProvider
	- Crm\PaymentsModule\DataProvider\CanDeleteAddressDataProvider
	- Crm\PaymentsModule\DataProvider\PaymentsClaimUserDataProvider
	- Crm\PaymentsModule\DataProvider\RecurrentPaymentsClaimUserDataProvider
	- Crm\PaymentsModule\Scenarios\PaymentStatusCriteria
	- Crm\PaymentsModule\Scenarios\PaymentIsRecurrentChargeCriteria
	- Crm\PaymentsModule\Scenarios\IsActiveRecurrentSubscriptionCriteria
	- Crm\PaymentsModule\Scenarios\PaymentGatewayCriteria
	- Crm\PaymentsModule\Segment\AmountCriteria
	- Crm\PaymentsModule\Segment\StatusCriteria
	- Crm\PaymentsModule\Segment\ReferenceCriteria
	- Crm\PaymentsModule\Seeders\ConfigsSeeder
	- Crm\PaymentsModule\Seeders\PaymentGatewaysSeeder
	- Crm\PaymentsModule\Seeders\SegmentsSeeder
	- Crm\PaymentsModule\Scenarios\RecurrentPaymentStateCriteria

	# events
	- Crm\PaymentsModule\Events\PaymentStatusChangeHandler
	- Crm\PaymentsModule\Events\RecurrentPaymentCardExpiredEventHandler
	- Crm\PaymentsModule\Events\SubscriptionPreUpdateHandler

	subscribersWithPaymentWidgetFactory:
		class: Crm\PaymentsModule\Components\SubscribersWithPaymentWidgetFactory

	retentionAnalysisJobHandler:
		class: Crm\PaymentsModule\Hermes\RetentionAnalysisJobHandler

	paymentCompleteRedirect:
		class: Crm\PaymentsModule\Model\PaymentCompleteRedirectManager
		setup:
			- registerRedirectResolver(Crm\PaymentsModule\BankTransferPaymentCompleteRedirectResolver(), 10)

	paymentInvoiceProvider:
		class: Crm\PaymentsModule\DataProvider\PaymentInvoiceProviderManager

	- Crm\PaymentsModule\Retention\RetentionAnalysis

	# widgets
	- Crm\PaymentsModule\Components\AvgMonthPaymentWidget
	- Crm\PaymentsModule\Components\AvgSubscriptionPaymentWidget
	- Crm\PaymentsModule\Components\UserPaymentsListing
	- Crm\PaymentsModule\Components\ParsedMailsFailedNotification
	- Crm\PaymentsModule\Components\TotalAmountStatWidget
	- Crm\PaymentsModule\Components\TodayAmountStatWidget
	- Crm\PaymentsModule\Components\MonthAmountStatWidget
	- Crm\PaymentsModule\Components\MonthToDateAmountStatWidget
	- Crm\PaymentsModule\Components\SubscriptionsWithActiveUnchargedRecurrentEndingWithinPeriodWidget
	- Crm\PaymentsModule\Components\SubscriptionsWithoutExtensionEndingWithinPeriodWidget
	- Crm\PaymentsModule\Components\PaidSubscriptionsWithoutExtensionEndingWithinPeriodWidget
	- Crm\PaymentsModule\Components\SubscriptionTypeReports
	- Crm\PaymentsModule\Components\MyNextRecurrentPayment
	- Crm\PaymentsModule\Components\RefundPaymentsListWidget
	- Crm\PaymentsModule\DataProvider\PaymentFromVariableSymbolDataProvider
	- Crm\PaymentsModule\DataProvider\SubscriptionsWithActiveUnchargedRecurrentEndingWithinPeriodDataProvider
	- Crm\PaymentsModule\DataProvider\SubscriptionsWithoutExtensionEndingWithinPeriodDataProvider

	actualPaidSubscribersStatWidget:
		class: Crm\PaymentsModule\Components\ActualPaidSubscribersStatWidget
		setup:
			- setOnTheFly(true, 5)

	actualFreeSubscribersStatWidget:
		class: Crm\PaymentsModule\Components\ActualFreeSubscribersStatWidget
		setup:
			- setOnTheFly(true, 5)