<a href="{plink :Subscriptions:SubscriptionTypesAdmin:Show $paymentItem->subscription_type_id}" class="list-group-item">
  {$paymentItem->name} <small>({$paymentItem->count} x {$paymentItem->amount|price})</small>
</a>