<div style="display:flex;">
    <div style="flex-shrink: 0; flex-basis: content; flex-grow: 0">
        {_dashboard.payments.donations_sum.title} <i class="fa fa-question-circle" data-toggle="tooltip" data-original-title="{_dashboard.payments.donations_sum.tooltip, ['start' => date('d.m.Y H:i:s', strtotime('first day of this month 00:00')), 'end' => date('d.m.Y H:i:s')]}."></i>
    </div>
    <div style="text-align: right; flex-basis: max-content; flex-shrink: 1; flex-grow: 1">
        {$thisMonthAmount|diffPrice:$lastMonthAmount,0|noescape}
    </div>
</div>