{var $btn_class = 'btn-default'}
{if $payment->status == \Crm\PaymentsModule\Models\Payment\PaymentStatusEnum::Paid->value}
 {var $btn_class = 'btn-success'}
{elseif $payment->status == \Crm\PaymentsModule\Models\Payment\PaymentStatusEnum::Form->value}
 {var $btn_class = 'btn-info'}
{elseif $payment->status == \Crm\PaymentsModule\Models\Payment\PaymentStatusEnum::Fail->value || $payment->status == \Crm\PaymentsModule\Models\Payment\PaymentStatusEnum::Timeout->value}
 {var $btn_class = 'btn-danger'}
{/if}

<div class="dropdown clearfix">
   <button class="btn {$btn_class} btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
     {$payment->status|firstUpper}
     <span class="caret"></span>
   </button>
   <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
     <li role="presentation"><a role="menuitem" tabindex="-1" href="{plink :Payments:PaymentsAdmin:changeStatus status => \Crm\PaymentsModule\Models\Payment\PaymentStatusEnum::Form->value, payment => $payment->id}">Form</a></li>
     <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#change-status-modal-{$payment->id}">Paid</a></li>
     <li role="presentation"><a role="menuitem" tabindex="-1" href="{plink :Payments:PaymentsAdmin:changeStatus status => \Crm\PaymentsModule\Models\Payment\PaymentStatusEnum::Prepaid->value, payment => $payment->id}">Prepaid</a></li>
     <li role="presentation"><a role="menuitem" tabindex="-1" href="{plink :Payments:PaymentsAdmin:changeStatus status => \Crm\PaymentsModule\Models\Payment\PaymentStatusEnum::Fail->value, payment => $payment->id}">Fail</a></li>
     <li role="presentation"><a role="menuitem" tabindex="-1" href="{plink :Payments:PaymentsAdmin:changeStatus status => \Crm\PaymentsModule\Models\Payment\PaymentStatusEnum::Timeout->value, payment => $payment->id}">Timeout</a></li>
     <li role="presentation"><a role="menuitem" tabindex="-1" href="{plink :Payments:PaymentsRefundAdmin:default $payment->id}">Refund</a></li>
     <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Imported</a></li>
   </ul>
</div>