{block #title}{_payments.frontend.banktransfer.title}{/block}

{block #content}

{php $params = ['payment' => $payment, 'note' => $note]}

<div class="page-header">
	<h1>{_payments.frontend.banktransfer.title}</h1>
</div>

<div class="row">
	<div class="col-md-8">
		<blockquote>
			<p class="lead">
				{if !empty($bankIban)}
					IBAN: {$bankIban}<br>
					{if !empty($bankSwift)}SWIFT: {$bankSwift}<br>{/if}
				{/if}
				{_payments.frontend.banktransfer.account_number}: {$bankNumber}
				<br>
				{_payments.frontend.banktransfer.account_name}: {$bankAccountName}
				<br><br>
				{_payments.frontend.banktransfer.amount}: <strong>{$payment->amount|price}</strong><br>
				{_payments.frontend.banktransfer.variable_symbol}: <strong>{$payment->variable_symbol}</strong><br>
				{_payments.frontend.banktransfer.recipient_message}: <strong>{$note}</strong><br>
			</p>
		</blockquote>

		<p class="text-muted">
			{_payments.frontend.banktransfer.delay_info}
		</p>
	</div>
	<div class="col-md-4" style="max-height: 240px;">
		{control simpleWidget 'payments.banktransfer.right', $params}
	</div>
</div>

{control simpleWidget 'payments.frontend.banktransfer.bottom', $payment}
