<li role="menuitem">
  <a href="{plink :Payments:SubscriptionsPauseAdmin:default $subscription->id}">
    <i class="fa-solid fa-circle-pause"></i> {_payments.admin.component.pause_subscription_widget.button_label}
  </a>
</li>
