<span class="badge">{$totalPaidSubscribers}</span>
<a n:tag-if="isset($totalPaidSubscribersLink)" href="{$totalPaidSubscribersLink}">Predplatitelia s platbou</a> <i class="fa fa-question-circle" data-toggle="tooltip" data-original-title="Zaratavaju sa iba predplatne s platbou. Jeden používateť je jeden krát aj keď ma viac predplatných."></i>