<span class="badge">{$totalPaidSubscribers}</span>
<a n:tag-if="isset($totalPaidSubscribersLink)" href="{$totalPaidSubscribersLink}">
    {_"payments.admin.component.actual_paid_subscribers_stat_widget.title"}
</a>
<i class="fa fa-question-circle"
   data-toggle="tooltip"
   data-original-title="{_"payments.admin.component.actual_paid_subscribers_stat_widget.help"}"></i>
