<div class="alert alert-default">
    {formContainer $form}
        <div class="checkbox">
            {input instant_refund}{label instant_refund /}
            <i class="fa fa-info-circle" data-toggle="tooltip" title="{_"payments.admin.payment_refund.instant_refund_widget.description"}"></i>
        </div>
    {/formContainer}
</div>
