menu:
	stats: Platby
	payments: Moje platby
	admin_payments: Platby
	gateways: Platební brány
	parsed_mails: Zpracované platební e-maily
	recurrent_payments: Rekurentní platby
	duplicate_recurrent_payments: Duplicitní rekurentné platby
	upgrades: Upgrady

admin:
	component:
		actual_free_subscribers_stat_widget:
			title: Předplatitelé bez platby
			help: Počet předplatitelů s aktivním předplatným bez platby. Jeden uživatel je jednou i když má více předplatných.

		actual_paid_subscribers_stat_widget:
			title: Předplatitelé s platbou
			help: Počet předplatitelů s aktivním předplatným s platbou. Jeden uživatel je jednou i když má více předplatných.

		actual_nonfree_subscribers_stat_widget:
			title: Předplatitelé s placeným předplatným
			help: "Počet předplatitelů s aktivním předplatným, kteří mají typ předplatného jiný než 'free'. Jeden uživatel je jednou i když má více předplatných."

		change_payment_status:
			title: Změna stavu platby
			variable_symbol: Variabilní symbol
			created: Vytvořená
			status: Stav
			change_to: změnit na
			cancel: Zruš
			change_without_notification: Změnit a neposlat notifikaci
			change_with_notification: Změnit a poslat notifikaci
			messages:
				status_changed_successfully: Stav platby byl změněn
				status_not_changed: Stav platby nebyl změněn

		device_user_listing_widget:
			device: Zařízení

		duplicate_recurrent_payments:
			none_found: Nebyly nalezeny žádné duplicitní recurentné platby
			id: ID
			cid: CID
			created: Vytvořená
			edited: Upravená
			next_charge: Zaplacení proběhne
			subscription_type: Typ předplatného
			card_expiration: Karta expiruje
			status: Status
			actions: Akce
			next_subscription: následující bude
			stop_recurrent_profile: Zastavit opakovanou platbu
			stop_recurrent_profile_confirm: Potvrďte zastavení rekurentního profilu
			messages:
				recurrent_profile_stopped: Rekurentní profil byl zastaven

		last_payments:
			title: Poslední platby
			variable_symbol: Variabilní symbol
			subscription: Předplatné
			amount: Částka
			payment_gateway: Platební brána
			subscription_type: Typ předplatného
			status: Stav
			created: Vytvořeno
			referrer: Referer
			actions: Akce
			without_subscription: Bez předplatného
			edit: Uprav
			badge_donation: dar
			badge_recurrent: recurrent

		parsed_mails_failed_notification:
			title: Zlá částka přijata na účet

		subscribers_with_payment_widget:
			last_day: Posledních 24 hodin
			last_days: Posledních %count% dní
			description: Rozdíl v počtu předplatitelů s platbou za dané období.

		subscription_type_reports:
			title: Zdroj předplatitelů

		total_user_payments:
			spent: Celkově minul
			for: za
			for_subscription_payments: "{1}platbu za předplatné|[2,4]platby za předplatné|[5,Inf]plateb za předplatné"
			monthly_average: průměrně měsíčně
			more: více
			less: méně
			than_average: jako průměr

		user_payments_listing:
			header: Platby
			today: Dnes
			no_payments:
				title: Žádný záznam
				message: "Tento uživatel nemá zaznamenány žádné platby."
			add_manual_payment: Přidej platbu manuálně
			caption:
				id: ID
				variable_symbol: Variabilní symbol
				amount: Částka
				payment_gateway: Platební brána
				payment_items: Položky
				status: Stav
				created: Vytvořeno
				source: Zdroje platby
				actions: Akce
				cid: CID
				received: Doručené
				edited: Upravená
				next_charge: Zaplacení proběhne
				subscription_type: Typ předplatného
				card_expiration: Karta expiruje
				created_payment_id: ID vytvořené platby
				recurrent_state: Stav opakované platby
				payment: Platba
				message: Zpráva
			referrer: Referer
			edit: Uprav
			n_a: "N/A"
			payment:
				address: Adresa
				paid: Zaplacené
				active_from_to: "Bude platit od <strong>%active_from%</strong> do <strong>%active_to%</strong>"
				active_from_confirmation_to: "Bude platit od <strong>potvrzení platby</strong> do <strong>%active_to%</strong>"
				active_from: "Bude platit od <strong>%active_from%</strong>"
				badge_donation: dar
				badge_upgrade: upgrade
			recurrent_profile:
				title: Recurrentní platby
				next_subscription: následující bude
				stop_recurrent_profile: Zastavit opakovanou platbu
				stop_recurrent_profile_confirm: Potvrďte zastavení rekurentního profilu
				active: Proběhne opakování
				user_stop: Zastaveno uživatelem
				admin_stop: Zastaveno na žádost
				system_stop: "Neúspěšné opakování, zastavena"
				charged: Automaticky prodloužena
				charge_failed: "Neúspěšné opakování, opakování o 6h."
				tb_failed: CHYBA V TB.
			parsed_mail_logs:
				title: "Zpracované/potvrzené platby"
				changed_to_paid: Stav změněn na zaplaceno
				already_paid: Platba potvrzena
				different_amount: Jiná částka
				without_vs: Bez variabilního symbolu

		admin_filter_form:
			variable_symbol:
				label: Variabilní symbol
			payment_gateway:
				label: Platební brána
			status:
				label: Stav platby
			donation:
				label: Dar
				with_donation: S darem
				without_donation: Bez daru
			recurrent_charge:
				label: Automatické obnovení
				all: Všechny
				recurrent: Pouze automaticky obnoveny
				manual: Pouze ruční platby
			subscription_type:
				label: Typ předplatného
			filter:
				label: Filtruj
				cancel: Zruš filtr

		recurrent_payment_form:
			charge_at:
				label: Datum stažení peněz
				required: Datum stažení peněz je povinný
				placeholder: například 4.3.2017 15:30
			retries:
				label: Počet opakování pro neúspěšném stažení peněz
				required: Počet opakování je povinný
				placeholder: například 4
			next_subscription_type_id:
				label: Následující předplatné při stažení
				description: "Vybrat pouze v případě že následující předplatné má být jiné než aktuální (%actual%)"
			custom_amount:
				label: Suma při příštím stažení
				description: "Částka byla původně vypočtena k upgradu. Při změně následujícího předplatného bude odstraněna, aby se použila cena ze zvoleného předplatného."
			state:
				label: Stav
				prompt: Stav rekurentního profilu
				required: Stav profilu musí být zvolen
				placeholder: například active
			note:
				label: Poznámka
			save: Ulož

	donation: Dar k předplatnému

	arpu:
		graph_label: ARPU
		all:
			title: ARPU - celkem všech plateb / počet
			tooltip: Zobrazuje sumu všech plateb za dané období děleno počtem plateb - ARPA
		manual:
			title: ARPU - celkem všech nových plateb / počet
			tooltip: 'Zobrazuje sumu všech nových plateb (nevytvořených rekurentně) za dané období děleno počtem plateb - ARPA'
		recurrent:
			title: ARPU - celkem všech rekurentných plateb / počet
			tooltip: 'Zobrazuje sumu všech rekurentne vytvořených plateb za dané období děleno počtem plateb - ARPA'
	stats:
		title: Statistiky plateb
		menu:
			general: Obecné
			arpu: ARPU

	payment_gateways:
		title: Platební brány
		back_to_list: Zpět na platební brány
		back_to_detail: Zpět na platební bránu
		show: Zobrazit platební bránu
		edit: Upravit platební bránu
		name: Jméno
		code: Identifikátor
		created_at: Vytvořená
		modified_at: Upravená
		visible: Viditelná
		is_recurrent: Rekurentní
		sorting: Pořadí
		actions: Akce
		updated: Platební brána byla upravena
		graph:
			title: Platby brány
			help: Platby zaplaceny přes tuto platební bránu
			completed_payments: Dokončené platby
			uncompleted_payments: Nedokončené platby
		small_graph:
			title: Platby podle brány

	upgrades:
		all_upgrades: Všechny upgrady
		paid_upgrades: Placené upgrady
		title: Upgrady
		upgrades_in_time: Platby za upgrade v čase
		all: Všechny
		type: Typ
		time_of_upgrade: Čas upgradu
		variable_symbol: Variabilní symbol
		user: Uživatel
		amount: Suma
		gateway: Platební brána
		subscription_type: Typ předplatného
		status: Stav
		paid_at: Zaplaceno
		created_at: Vytvořeno
		actions: Akce
		edit: Uprav
		no_records: "Nebyly nalezeny žádné záznamy, které by odpovídaly filtru"
		recurrent_free: "Rekurentní bez platby"
		recurrent: "Rekurentní s doplatkem"
		short: "Zkrácení předplatného"
		paid_extend: "Nerekurentní s platbou"

	payments_recurrent:
		title: Rekurentní platby
		charge_at: Čas obnovení
		created_at: Čas vytvoření
		subscription_type: Typ předplatného
		email: E-mail
		retries: Počet opakování
		charge_status: Stav pokusu o obnovení
		recurrent_status: Stav rekurentní platby
		actions: Akce
		no_records: "Nebyly nalezeny žádné záznamy, které by odpovídaly filtru"
		edit: Úprava rekurentního profilu
		for_payment: ke platbě
		back_to_user_detail: Zpět na uživatele
		duplicates: Duplicitní rekurentní platby

		admin_filter_form:
			status:
				label: Stav platby
			problem:
				label: Pouze neúspěšná platba
			subscription_type:
				label: Typ předplatného
			send: Filtruj
			cancel: Zruš filtr

		updated: Rekurentní profil byl upraven

	dashboard:
		recurrent_charge:
			label: Automatické obnovení *
			all: Všechny
			recurrent: Pouze automaticky obnoveny
			manual: Pouze ručné
		arpu: ARPU - Průměrný výnos na uživatele

	parsed_mails:
		title: Zpracované platební emaily
		variable_symbol:
			label: Variabilní symbol
		state:
			label: Stav
		filter: Filtruj
		cancel: Zruš filtr
		created_at: Vytvořeno
		delivered_at: Doručeno
		amount: Částka
		payment: Platba
		message: Zpráva
		no_records: "Nebyly nalezeny žádné záznamy, které by odpovídaly filtru"

	payments:
		updated: Platba byla upravena
		created: Platba byla vytvořena
		send_notification: Pošli notifikaci emailem
		close: Zavřít
		title: Platby
		variable_symbol: Variabilní symbol
		user: Uživatel
		amount: Částka
		gateway: Platební brána
		items: Položky
		status: Stav
		created_at: Vytvořeno
		actions: Akce
		recurrent_charge: Automaticky obnoveno
		donation: dar
		donation_recurrent: opakovaný
		paid_at: Zaplaceno
		source: Zdroj
		no_records: "Nebyly nalezeny žádné záznamy, které by odpovídaly filtru"
		edit: Upravit platbu
		back_to_user: Zpět na uživatele
		variable_symbol_error: Nepodařilo se získat variabilní symbol
		new: Nová platba
		new_for_user: Nová platba pro
		item: položka
		item_name: Název
		price_with_vat: Cena s DPH
		vat_rate: Sazba DPH

form:
	payment_gateway:
		name:
			label: Jméno
			required: Jméno musí být zadáno
			placeholder: například ČSOB
		code:
			label: Identifikátor
			placeholder: například csob
		visible:
			label: Viditelná
		is_recurrent:
			label: Rekurentní
		sorting:
			label: Pořadí
		save:
			label: Ulož

	accountant_export:
		payment_gateway:
			label: Platební brána
		status:
			label: Stav platby
		subscription_type:
			label: Typ předplatného
		month:
			label: Měsíc
		export: Export

gateway:
	recurrent: automatické obnovování

frontend:
	my:
		my_payments: Moje platby
		payment_type: Způsob platby
		payment_day: Dne
		variable_symbol: Variabilní symbol
		price: Cena
		is_recurrent: Opakovaná platba
		receipts: Doklady
		stop_recurrent: Zastavit opakování
		restart_recurrent: Znovu zapnout
		user_stopped: Vámi zastavené
		user_stopped_requested: Zastavené na Vaši žádost
		failed_recurrent: Neúspěšné opakování
		success_recurrent: Automaticky prodloužená
		no_payments: Nemáte žádné platby
		buy_offer: Můžete si předplatné zakoupit a získat tak přístup k obsahu
		next_recurrent_payment: "Máte zapnuté automatické obnovování předplatného, nejbližší platba v hodnotě <strong>%charge_amount% Kč</strong> proběhne <strong>%charge_date%</strong>."
	recurrent_stop:
		title: Zastavení opakované platby
		cancel: "Ne, ještě si to promyslím"
		confirm: "Ano, zastavit opakované platby"
		success: "Opakovaná platba byla zastavena."
		invalid: Neplatn7 požadavek o zastavení automatické platby. Zkuste to prosím znovu.
	reactivate:
		success: 'Automatická platba byla obnovena.'
		error: 'Automatickou platbu není možné obnovit.'
		error_create_new: 'Automatickou platbu není možné obnovit. Prosím vytvořte novou.'
	banktransfer:
		title: Platba převodem
		lead: Informace pro zakoupení předplatného pomocí bankovního převodu
		amount: Částka
		account_number: Číslo účtu
		variable_symbol: Variabilní symbol
		recipient_message: Zpráva pro příjemce
		delay_info: Připsání platby na účet může trvat 1 až 2 pracovní dny. Předplatné se aktivuje až po připsání platby na náš účet.
		thank_you: Děkujeme
	select_card:
		title: 'Vyberte kartu k dokončení platby'
		lead: 'Pamatujeme si Vámi použité karty, takže ich číslo nemusíte zadávat znovu.'
		subtitle: 'List of saved cards'
		card_with_expiration: 'Card with expiration'
		use_card: 'Use card'
		use_new_card: 'Enter a new card'
	proforma_invoice:
		title: Platba předfakturou
		form_title: 'Pro dokončení objednávky prosím vyplňte fakturační údaje'
		thank_you: 'Děkujeme za vaši objednávku, předfakturu Vám zašleme do 3 pracovních dnů e-mailem.'