menu:
	stats: Platby
	payments: Moje platby
admin:
	component:
		actual_free_subscribers_stat_widget:
			title: Předplatitelé bez platby
			help: Počet předplatitelů s aktivním předplatným bez platby. Jeden uživatel je jednou i když má více předplatných.

		actual_paid_subscribers_stat_widget:
			title: Předplatitelé s platbou
			help: Počet předplatitelů s aktivním předplatným s platbou. Jeden uživatel je jednou i když má více předplatných.

		actual_nonfree_subscribers_stat_widget:
			title: Předplatitelé s placeným předplatným
			help: "Počet předplatitelů s aktivním předplatným, kteří mají typ předplatného jiný než 'free'. Jeden uživatel je jednou i když má více předplatných."

		change_payment_status:
			title: Změna stavu platby
			variable_symbol: Variabilní symbol
			created: Vytvořená
			status: Stav
			change_to: změnit na
			cancel: Zruš
			change_without_notification: Změnit a neposlat notifikaci
			change_with_notification: Změnit a poslat notifikaci
			messages:
				status_changed_successfully: Stav platby byl změněn
				status_not_changed: Stav platby nebyl změněn

		device_user_listing_widget:
			device: Zařízení

		duplicate_recurrent_payments:
			none_found: Nebyly nalezeny žádné duplicitní recurentné platby
			id: ID
			cid: CID
			created: Vytvořená
			edited: Upravená
			next_charge: Zaplacení proběhne
			subscription_type: Typ předplatného
			card_expiration: Karta expiruje
			status: Status
			actions: Akce
			next_subscription: následující bude
			stop_recurrent_profile: Zastavit opakovanou platbu
			stop_recurrent_profile_confirm: Potvrďte zastavení rekurentního profilu
			messages:
				recurrent_profile_stopped: Rekurentní profil byl zastaven

		last_payments:
			title: Poslední platby
			variable_symbol: Variabilní symbol
			subscription: Předplatné
			amount: Částka
			payment_gateway: Platební brána
			subscription_type: Typ předplatného
			status: Stav
			created: Vytvořeno
			referrer: Referer
			actions: Akce
			without_subscription: Bez předplatného
			edit: Uprav
			badge_donation: dar
			badge_recurrent: recurrent

		parsed_mails_failed_notification:
			title: Zlá částka přijata na účet

		subscribers_with_payment_widget:
			last_day: Posledních 24 hodin
			last_days: Posledních %count% dní
			description: Rozdíl v počtu předplatitelů s platbou za dané období.

		subscription_type_reports:
			title: Zdroj předplatitelů

		total_user_payments:
			spent: Celkově minul
			for: za
			for_subscription_payments: "{1}platbu za předplatné|[2,4]platby za předplatné|[5,Inf]plateb za předplatné"
			monthly_average: průměrně měsíčně
			more: více
			less: méně
			than_average: jako průměr

		user_payments_listing:
			header: Platby
			today: Dnes
			no_payments:
				title: Žádný záznam
				message: "Tento uživatel nemá zaznamenány žádné platby."
			add_manual_payment: Přidej platbu manuálně
			caption:
				id: ID
				variable_symbol: Variabilní symbol
				amount: Částka
				payment_gateway: Platební brána
				payment_items: Položky
				status: Stav
				created: Vytvořeno
				source: Zdroje platby
				actions: Akce
				cid: CID
				received: Doručené
				edited: Upravená
				next_charge: Zaplacení proběhne
				subscription_type: Typ předplatného
				card_expiration: Karta expiruje
				created_payment_id: ID vytvořené platby
				recurrent_state: Stav opakované platby
				payment: Platba
				message: Zpráva
			referrer: Referer
			edit: Uprav
			n_a: "N/A"
			payment:
				address: Adresa
				paid: Zaplacené
				active_from_to: "Bude platit od <strong>%active_from%</strong> do <strong>%active_to%</strong>"
				active_from_confirmation_to: "Bude platit od <strong>potvrzení platby</strong> do <strong>%active_to%</strong>"
				active_from: "Bude platit od <strong>%active_from%</strong>"
				badge_donation: dar
				badge_upgrade: upgrade
			recurrent_profile:
				title: Recurrentní platby
				next_subscription: následující bude
				stop_recurrent_profile: Zastavit opakovanou platbu
				stop_recurrent_profile_confirm: Potvrďte zastavení rekurentního profilu
				user_stop: Zastaveno uživatelem.
				admin_stop: Zastaveno na žádost.
				system_stop: Neúspěšné opakování. Zastavena.
				charged: Automaticky prodloužena.
				charge_failed: Neúspěšné opakování. Opakování o 6h.
				tb_failed: CHYBA V TB.
			parsed_mail_logs:
				title: "Zpracované/potvrzené platby"
				changed_to_paid: Stav změněn na zaplaceno
				already_paid: Platba potvrzena
				different_amount: Jiná částka
				without_vs: Bez variabilního symbolu

	donation: Dar k předplatnému

	arpu:
		graph_label: ARPU
		all:
			title: ARPU - celkem všech plateb / počet
			tooltip: Zobrazuje sumu všech plateb za dané období děleno počtem plateb - ARPA
		manual:
			title: ARPU - celkem všech nových plateb / počet
			tooltip: 'Zobrazuje sumu všech nových plateb (nevytvořených rekurentně) za dané období děleno počtem plateb - ARPA'
		recurrent:
			title: ARPU - celkem všech rekurentných plateb / počet
			tooltip: 'Zobrazuje sumu všech rekurentne vytvořených plateb za dané období děleno počtem plateb - ARPA'
	stats:
		title: Statistiky plateb
		menu:
			general: Obecné
			arpu: ARPU

	payment_gateways:
		title: Platební brány
		back_to_list: Zpět na platební brány
		back_to_detail: Zpět na platební bránu
		edit: Úprava platební brány
		name: Jméno
		code: Identifikátor
		created_at: Vytvořená
		modified_at: Upravená
		visible: Viditelná
		is_recurrent: Rekurentní
		sorting: Pořadí
		actions: Akce

form:
	payment_gateway:
		name:
			label: Jméno
			required: Jméno musí být zadáno
			placeholder: například ČSOB
		code:
			label: Identifikátor
			placeholder: například csob
		visible:
			label: Viditeľná
		is_recurrent:
			label: Rekurentní
		sorting:
			label: Pořadí
		save:
			label: Ulož

gateway:
	recurrent: automatické obnovování

frontend:
	my:
		my_payments: Moje platby
		payment_type: Způsob platby
		payment_day: Dne
		variable_symbol: Variabilní symbol
		price: Cena
		is_recurrent: Opakovaná platba
		invoices: Faktury
		stop_recurrent: Zastavit opakování
		restart_recurrent: Znovu zapnout
		user_stopped: Vámi zastavené
		user_stopped_requested: Zastavené na Vaši žádost
		failed_recurrent: Neúspěšné opakování
		success_recurrent: Automaticky prodloužená
		no_payments: Nemáte žádné platby
		buy_offer: Můžete si předplatné zakoupit a získat tak přístup k obsahu
		next_recurrent_payment: "Máte zapnuté automatické obnovování předplatného, nejbližší platba v hodnotě <strong>%charge_amount% Kč</strong> proběhne <strong>%charge_date%</strong>."
	recurrent_stop:
		title: Zastavení opakované platby
		cancel: "Ne, ještě si to promyslím"
		confirm: "Ano, zastavit opakované platby"
		success: "Opakovaná platba byla zastavena."
		invalid: Neplatn7 požadavek o zastavení automatické platby. Zkuste to prosím znovu.
	reactivate:
		success: 'Automatická platba byla obnovena.'
		error: 'Automatickou platbu není možné obnovit.'
		error_create_new: 'Automatickou platbu není možné obnovit. Prosím vytvořte novou.'
	banktransfer:
		title: Platba převodem
		lead: Informace pro zakoupení předplatného pomocí bankovního převodu
		amount: Částka
		account_number: Číslo účtu
		variable_symbol: Variabilní symbol
		recipient_message: Zpráva pro příjemce
		delay_info: Připsání platby na účet může trvat 1 až 2 pracovní dny. Předplatné se aktivuje až po připsání platby na náš účet.
		thank_you: Děkujeme
	proforma_invoice:
		title: Platba předfakturou
		form_title: 'Pro dokončení objednávky prosím vyplňte fakturační údaje'
		thank_you: 'Děkujeme za vaši objednávku, předfakturu Vám zašleme do 3 pracovních dnů e-mailem.'