menu:
	stats: Platby
	payments: Platby

admin:
	component:
		actual_free_subscribers_stat_widget:
			title: Predplatitelia bez platby
			help: Počet predplatiteľov s aktívnym predplatným bez platby. Jeden používateľ je jeden krát aj keď ma viac predplatných.

		actual_paid_subscribers_stat_widget:
			title: Predplatitelia s platbou
			help: Počet predplatiteľov s aktívnym predplatným s platbou. Jeden používateľ je jeden krát aj keď má viac predplatných.

		actual_nonfree_subscribers_stat_widget:
			title: Predplatitelia s plateným predplatným
			help: "Počet predplatiteľov s aktívnym predplatným, ktorého typ je iný ako 'free'. Jeden používateľ je jeden krát aj keď ma viac predplatných."

		change_payment_status:
			title: Zmena stavu platby
			variable_symbol: Variabilný symbol
			created: Vytvorená
			status: Stav
			change_to: zmeniť na
			cancel: Zruš
			change_without_notification: Zmeň a nepošli notifikáciu
			change_with_notification: Zmeň a pošli notifikáciu
			messages:
				status_changed_successfully: Stav platby bol zmenený
				status_not_changed: Stav platby nebol zmenený

		duplicate_recurrent_payments:
			none_found: Nenašli sa žiadne duplicitné recurentné platby
			id: ID
			cid: CID
			created: Vytvorená
			edited: Upravená
			next_charge: Zaplatenie prebehne
			subscription_type: Typ predplatného
			card_expiration: Karta expiruje
			status: Status
			actions: Akcie
			next_subscription: nasledujúce bude
			stop_recurrent_profile: Zastaviť opakovanú platbu
			stop_recurrent_profile_confirm: Potvrďte zastavenie rekurentného profilu
			messages:
				recurrent_profile_stopped: Rekurentný profil bol zastavený

		last_payments:
			title: Posledné platby
			variable_symbol: Variabilný symbol
			subscription: Predplatné
			amount: Suma
			payment_gateway: Platobná brána
			subscription_type: Typ predplatného
			status: Stav
			created: Vytvorené
			referrer: Referer
			actions: Akcie
			without_subscription: Bez predplatneho
			edit: Uprav
			badge_donation: dar
			badge_recurrent: recurrent

		parsed_mails_failed_notification:
			title: Zlá suma prijatá na účet

		subscribers_with_payment_widget:
			last_day: Posledných 24 hodín
			last_days: Posledných %count% dní
			description: Rozdiel v počte predplatiteľov s platbou za dané obdobie.

		subscription_type_reports:
			title: Zdroj predplatiteľov

		total_user_payments:
			spent: Celkovo minul
			for: za
			for_subscription_payments: "{1}platbu za predplatné|[2,4]platby za predplatné|[5,Inf]platieb za predplatné"
			monthly_average: priemerne mesačne
			more: viac
			less: menej
			than_average: ako priemer

		device_user_listing_widget:
			device: Zariadenie

	donation: Dar k predplatnému

	arpu:
		graph_label: ARPU
		all:
			title: ARPU - suma všetkých platieb / počet
			tooltip: Zobrazuje sumu všetkých platieb v danom období delene počet platieb - ARPU
		manual:
			title: ARPU - suma všetkých nových platieb / počet
			tooltip: 'Zobrazuje sumu všetkých nových platieb (nevytvorených rekurentne) v danom období delene počet platieb - ARPU'
		recurrent:
			title: ARPU - suma všetkých rekurentných platieb / počet
			tooltip: 'Zobrazuje sumu všetkých rekurentne vytvorených platieb v danom období delene počet platieb - ARPU'

	recurrent:
		duplicates:
			title: Duplicitné recurrentné platby

	stats:
		title: Štatistiky platieb
		menu:
			general: Všeobecné
			arpu: ARPU

gateway:
	recurrent: automaticky obnovované

frontend:
	my:
		my_payments: Moje platby
		payment_type: Spôsob platby
		payment_day: Dňa
		variable_symbol: Variabilný symbol
		price: Cena
		is_recurrent: Opakovaná platba
		invoices: Faktúry
		stop_recurrent: Zastaviť opakovanie
		restart_recurrent: Znovu zapnúť
		user_stopped: Zastavené Vami
		user_stopped_requested: Zastavené na Vašu žiadosť
		failed_recurrent: Neúspešné opakovanie
		success_recurrent: Automaticky predĺžená
		no_payments: Nemáte žiadne platby
		buy_offer: Môžete si predplatné zakúpiť a získať tak prístup ku obsahu.
		next_recurrent_payment: "Máte zapnuté automatické obnovovanie predplatného, najbližšia platba v hodnote <strong>%charge_amount%€</strong> prebehne <strong>%charge_date%</strong>."
	recurrent_stop:
		title: "Zastavenie opakovanej platby"
		cancel: "Nie, ešte si to premyslím"
		confirm: "Áno, zastaviť opakované platby"
		success: "Opakovaná platba bola zastavená."
		invalid: Neplatná požiadavka o zastavenie automatickej platby. Skúste to prosím znovu.
	reactivate:
		success: 'Automatická platba bola obnovená.'
		error: 'Automatickú platbu nie je možné obnoviť.'
		error_create_new: 'Automatickú platbu nie je možné obnoviť. Prosím vytvorte novú.'
	banktransfer:
		title: Platba prevodom
		lead: Informácie pre zakúpenie predplatného pomocou bankového prevodu
		amount: Suma
		account_number: Číslo účtu
		variable_symbol: Variabilný symbol
		recipient_message: Správa pre prijímateľa
		delay_info: Pripísanie platby na účet môže trvať 1 až 2 pracovné dni. Predplatné sa aktivuje až po pripísaní platby na náš účet.
		thank_you: Ďakujeme
	proforma_invoice:
		title: Platba predfaktúrou
		form_title: 'Pre dokončenie objednávky prosím vyplňte fakturačné údaje'
		thank_you: 'Ďakujeme za vašu objednávku, predfaktúru Vám zašleme do 3 pracovných dní e-mailom.'