menu:
	stats: Platby
	payments: Platby
	admin_payments: Platby
	gateways: Platobné brány
	parsed_mails: Spracované platobné e-maily
	recurrent_payments: Rekurentné platby
	duplicate_recurrent_payments: Duplicitné rekurentné platby

admin:
	component:
		actual_free_subscribers_stat_widget:
			title: Predplatitelia bez platby
			help: Počet predplatiteľov s aktívnym predplatným bez platby. Jeden používateľ je jeden krát aj keď ma viac predplatných.

		actual_paid_subscribers_stat_widget:
			title: Predplatitelia s platbou
			help: Počet predplatiteľov s aktívnym predplatným s platbou. Jeden používateľ je jeden krát aj keď má viac predplatných.

		actual_nonfree_subscribers_stat_widget:
			title: Predplatitelia s plateným predplatným
			help: "Počet predplatiteľov s aktívnym predplatným, ktorého typ je iný ako 'free'. Jeden používateľ je jeden krát aj keď ma viac predplatných."

		change_payment_status:
			title: Zmena stavu platby
			variable_symbol: Variabilný symbol
			created: Vytvorená
			status: Stav
			change_to: zmeniť na
			cancel: Zruš
			change_without_notification: Zmeň a nepošli notifikáciu
			change_with_notification: Zmeň a pošli notifikáciu
			messages:
				status_changed_successfully: Stav platby bol zmenený
				status_not_changed: Stav platby nebol zmenený

		device_user_listing_widget:
			device: Zariadenie

		duplicate_recurrent_payments:
			none_found: Nenašli sa žiadne duplicitné recurentné platby
			id: ID
			cid: CID
			created: Vytvorená
			edited: Upravená
			next_charge: Zaplatenie prebehne
			subscription_type: Typ predplatného
			card_expiration: Karta expiruje
			status: Status
			actions: Akcie
			next_subscription: nasledujúce bude
			stop_recurrent_profile: Zastaviť opakovanú platbu
			stop_recurrent_profile_confirm: Potvrďte zastavenie rekurentného profilu
			messages:
				recurrent_profile_stopped: Rekurentný profil bol zastavený

		last_payments:
			title: Posledné platby
			variable_symbol: Variabilný symbol
			subscription: Predplatné
			amount: Suma
			payment_gateway: Platobná brána
			subscription_type: Typ predplatného
			status: Stav
			created: Vytvorené
			referrer: Referer
			actions: Akcie
			without_subscription: Bez predplatneho
			edit: Uprav
			badge_donation: dar
			badge_recurrent: recurrent

		parsed_mails_failed_notification:
			title: Zlá suma prijatá na účet

		subscribers_with_payment_widget:
			last_day: Posledných 24 hodín
			last_days: Posledných %count% dní
			description: Rozdiel v počte predplatiteľov s platbou za dané obdobie.

		subscription_type_reports:
			title: Zdroj predplatiteľov

		total_user_payments:
			spent: Celkovo minul
			for: za
			for_subscription_payments: "{1}platbu za predplatné|[2,4]platby za predplatné|[5,Inf]platieb za predplatné"
			monthly_average: priemerne mesačne
			more: viac
			less: menej
			than_average: ako priemer

		user_payments_listing:
			header: Platby
			today: Dnes
			no_payments:
				title: Žiaden záznam
				message: "Tento používateľ nemá zaznamenané žiadne platby."
			add_manual_payment: Pridaj platbu manuálne
			caption:
				id: ID
				variable_symbol: Variabilný symbol
				amount: Suma
				payment_gateway: Platobná brána
				payment_items: Položky
				status: Stav
				created: Vytvorené
				source: Zdroje platby
				actions: Akcie
				cid: CID
				received: Doručené
				edited: Upravená
				next_charge: Zaplatenie prebehne
				subscription_type: Typ predplatného
				card_expiration: Karta expiruje
				created_payment_id: ID vytvorenej platby
				recurrent_state: Stav opakovanej platby
				payment: Platba
				message: Správa
			referrer: Referer
			edit: Upraviť platbu
			n_a: "N/A"
			payment:
				address: Adresa
				paid: Zaplatené
				active_from_to: "Bude platiť od <strong>%active_from%</strong> do <strong>%active_to%</strong>"
				active_from_confirmation_to: "Bude platiť od <strong>potvrdenia platby</strong> do <strong>%active_to%</strong>"
				active_from: "Bude platiť od <strong>%active_from%</strong>"
				badge_donation: dar
				badge_upgrade: upgrade
			recurrent_profile:
				title: Recurrentné platby
				next_subscription: nasledujúce bude
				stop_recurrent_profile: Zastaviť opakovanú platbu
				stop_recurrent_profile_confirm: Potvrďte zastavenie rekurentného profilu
				active: Prebehne opakovanie
				user_stop: Zastavené používateľom
				admin_stop: Zastavené na žiadosť
				system_stop: "Neúspešné opakovanie, zastavená"
				charged: Automaticky predĺžená
				charge_failed: "Neúspešné opakovanie, opakovanie o 6h"
				tb_failed: CHYBA V TB.
			parsed_mail_logs:
				title: "Spracované/potvrdené platby"
				changed_to_paid: Stav zmenený na zaplatené
				already_paid: Platba potvrdená
				different_amount: Iná čiastka
				without_vs: Bez variabilného symbolu

		admin_filter_form:
			variable_symbol:
				label: Variabilný symbol
			payment_gateway:
				label: Platobná brána
			status:
				label: Stav platby
			donation:
				label: Dar
				with_donation: S darom
				without_donation: Bez daru
			recurrent_charge:
				label: Automatické obnovenie
				all: Všetky
				recurrent: Iba automaticky obnovené
				manual: Iba manuálne
			subscription_type:
				label: Typ predplatného
			filter:
				label: Filtruj
				cancel: Zruš filter

		recurrent_payment_form:
			charge_at:
				label: Dátum stiahnutia peňazí
				required: Dátum stiahnutia peňazí je povinný
				placeholder: napríklad 4.3.2017 15:30
			retries:
				label: Počet opakovaní pre neúspešnom stiahnutí peňazí
				required: Počet opakovaní je povinný
				placeholder: napríklad 4
			next_subscription_type_id:
				label: Nasledujúce predplatné pri stiahnutí
				description: "Vybrať len v prípade že nasledujúce predplatné má byť iné ako aktuálne (%actual%)"
			custom_amount:
				label: Suma pri nasledujúcom stiahnutí
				description: "Suma bola pôvodne vypočítaná k upgradu. Pri zmene nasledujúceho predplatného bude odstránená, aby sa použila cena zo zvoleného predplatného."
			state:
				label: Stav
				prompt: Stav rekurentného profilu
				required: Stav profilu musí byť zvolený
				placeholder: napríklad active
			note:
				label: Poznámka
			save: Ulož

	donation: Dar k predplatnému

	arpu:
		graph_label: ARPU
		all:
			title: ARPU - suma všetkých platieb / počet
			tooltip: Zobrazuje sumu všetkých platieb v danom období delene počet platieb - ARPU
		manual:
			title: ARPU - suma všetkých nových platieb / počet
			tooltip: 'Zobrazuje sumu všetkých nových platieb (nevytvorených rekurentne) v danom období delene počet platieb - ARPU'
		recurrent:
			title: ARPU - suma všetkých rekurentných platieb / počet
			tooltip: 'Zobrazuje sumu všetkých rekurentne vytvorených platieb v danom období delene počet platieb - ARPU'

	recurrent:
		duplicates:
			title: Duplicitné recurrentné platby

	stats:
		title: Štatistiky platieb
		menu:
			general: Všeobecné
			arpu: ARPU

	payment_gateways:
		title: Platobné brány
		back_to_list: Späť na platobné brány
		back_to_detail: Späť na platobnú bránu
		show: Zobraziť platobnú bránu
		edit: Upraviť platobnú bránu
		name: Meno
		code: Identifikátor
		created_at: Vytvorená
		modified_at: Upravená
		visible: Viditeľná
		is_recurrent: Rekurentná
		sorting: Poradie
		actions: Akcie
		updated: Platobná brána bola upravená
		graph:
			title: Platby brány
			help: Platby zaplatené cez túto platobnú bránu
			completed_payments: Dokončené platby
			uncompleted_payments: Nedokončené platby
		small_graph:
			title: Platby podľa brány

	payments_recurrent:
		title: Rekurentné platby
		charge_at: Čas obnovenia
		created_at: Čas vytvorenia
		subscription_type: Typ predplatného
		email: E-mail
		retries: Počet opakovaní
		charge_status: Stav pokusu o obnovenie
		recurrent_status: Stav rekurentnej platby
		actions: Akcie
		no_records: "Nenašli sa žiadne záznamy, ktoré by zodpovedali filtru"
		edit: Úprava rekurentného profilu
		for_payment: ku platbe
		back_to_user_detail: Späť na používateľa
		duplicates: Duplicitné rekurentné platby

		admin_filter_form:
			status:
				label: Stav platby
			problem:
				label: Iba neúspešná platba
			subscription_type:
				label: Typ predplatného
			send: Filtruj
			cancel: Zruš filter

		updated: Rekurentný profil bol upravený

	dashboard:
		recurrent_charge:
			label: Automatické obnovenie *
			all: Všetky
			recurrent: Iba automaticky obnovené
			manual: Iba manuálne
		arpu: ARPU - Priemerný výnos na používateľa

	parsed_mails:
		title: Spracované platobné emaily
		variable_symbol:
			label: Variabilný symbol
		state:
			label: Stav
		filter: Filtruj
		cancel: Zruš filter
		created_at: Vytvorené
		delivered_at: Doručené
		amount: Suma
		payment: Platba
		message: Správa
		no_records: Nenašli sa žiadne záznamy ktoré by zodpovedali filtru

	payments:
		updated: Platba bola upravená
		created: Platba bola vytvorená
		send_notification: Pošli notifikáciu emailom
		close: Zatvoriť
		title: Platby
		variable_symbol: Variabilný symbol
		user: Používateľ
		amount: Suma
		gateway: Platobná brána
		items: Položky
		status: Stav
		created_at: Vytvorené
		actions: Akcie
		recurrent_charge: Automaticky obnovené
		donation: dar
		donation_recurrent: opakovaný
		paid_at: Zaplatené
		source: Zdroj
		no_records: Nenašli sa žiadne záznamy ktoré by zodpovedali filtru
		edit: Upraviť platbu
		back_to_user: Späť na používateľa
		variable_symbol_error: Nepodarilo sa ziskat variabilny symbol
		new: Nová platba
		new_for_user: Nová platba pre
		item: položka
		item_name: Názov
		price_with_vat: Jednotková cena s DPH
		vat_rate: Sadzba DPH
		enter_number_of_products: Zadajte počet kusov
		count: Počet kusov

	report:
		no_recurrent_charge:
			label: "Ešte nenastal čas prvého predĺženia"
		paid_next_subscription:
			label: "Boli %count% krát automaticky obnovení"
		stopped_on_first_subscription:
			label: "Zrušili rekurent ešte počas prvého obdobia"
		total_paid_subscriptions:
			label: "Kúpili typ predplatného (všetci)"
		total_recurrent_subscriptions:
			label: "Kúpili typ predplatného (rekurentne)"

	address:
		cant_delete: 'Táto adresa sa používa pri platbe: %payments%|Táto adresa sa používa pri platbách: %payments%'

form:
	payment_gateway:
		name:
			label: Meno
			required: Meno musí byť zadané
			placeholder: napríklad Tatrapay
		code:
			label: Identifikátor
			placeholder: Napríklad tatrapay
		visible:
			label: Viditeľná
		is_recurrent:
			label: Rekurentná
		sorting:
			label: Poradie
		save:
			label: Ulož

	accountant_export:
		payment_gateway:
			label: Platobná brána
		status:
			label: Stav platby
		subscription_type:
			label: Typ predplatného
		month:
			label: Mesiac
		export: Export

	payment:
		variable_symbol:
			label: Variabilný symbol
			required: Musí byť zadaný variabilný symbol
			placeholder: napríklad 87239102385
			generate: Vygeneruj
		amount:
			label: Suma
			required: Musí byť zadaná suma
			nonzero: "Suma platby musí byť nenulová, pravdepodobne nebola vybraná žiadna položka platby."
			description: "Pozor: Suma je predvyplnená podľa ceny vybraného typu predplatného. Ak chcete zadať inú sumu, zaškrtnite <strong>vlastnú cenu položiek</strong> a suma sa automaticky prepočíta podľa ceny jednotlivých položiek."
		items: Položky platby
		subscription_type_id:
			label: Predplatné
			prompt: Typ predplatného
		custom_payment_items:
			label: Vlastná cena položiek
		additional_amount:
			label: Darovaná suma
			placeholder: napríklad 14.52
		additional_type:
			label: Darovaná suma - typ
			single: Jednorázova
			recurrent: Opakovaná
			description: Ak je vyplnená darovaná suma je potrebné vybrať aj tento typ
		general_settings: Ostatné nastavenia platby
		payment_gateway_id:
			label: Platobná brána
		status:
			label: Stav
		paid_at:
			label: Čas zaplatenia
			placeholder: napríklad 14.2.2016 14:21
			required: Položka je povinná.
		send_notification:
			label: Odoslať notifikáciu
		manual_subscription:
			label: Začiatok / Koniec predplatného
			start: Ručne - nastaviť začiatok predplatného
			start_end: Ručne - nastaviť začiatok aj koniec predplatného
			prompt: Automaticky - podľa dátumu zaplatenia a dĺžky typu predplatného
		subscription_start_at:
			label: Začiatok predplatného
			placeholder: napríklad 14.2.2016
			description: "Potrebné vyplniť len v prípade, že potrebujeme posunúť začiatok predplatného na konkrétny dátum v budúcnosti. V prípade, že platba bude potvrdená neskôr ako zadaný dátum, predplatné začne v čase potvrdenia platby."
			not_past: Dátum začiatku predplatného nesmie byť v minulosti
		subscription_end_at:
			label: Koniec predplatného
			placeholder: napríklad 14.2.2016
			description: "Potrebné vyplniť len v prípade, že potrebujeme určit koniec predplatného na konkrétny dátum v budúcnosti."
			not_past: Dátum konca predplatného musí byť v budúcnosti.
		note:
			label: Poznámka
			placeholder: Vlastná poznámka k platbe
		referer:
			label: Referer
			placeholder: URL odkial prišla platba
		address_id:
			label: Adresa
		send: Ulož

gateway:
	recurrent: automaticky obnovované

frontend:
	my:
		my_payments: Moje platby
		payment_type: Spôsob platby
		payment_day: Dňa
		variable_symbol: Variabilný symbol
		price: Cena
		is_recurrent: Opakovaná platba
		receipts: Doklady
		stop_recurrent: Zastaviť opakovanie
		restart_recurrent: Znovu zapnúť
		user_stopped: Zastavené Vami
		user_stopped_requested: Zastavené na Vašu žiadosť
		failed_recurrent: Neúspešné opakovanie
		success_recurrent: Automaticky predĺžená
		no_payments: Nemáte žiadne platby
		buy_offer: Môžete si predplatné zakúpiť a získať tak prístup ku obsahu.
		next_recurrent_payment: "Máte zapnuté automatické obnovovanie predplatného, najbližšia platba v hodnote <strong>%charge_amount%</strong> prebehne <strong>%charge_date%</strong>."
	recurrent_stop:
		title: "Zastavenie opakovanej platby"
		cancel: "Nie, ešte si to premyslím"
		confirm: "Áno, zastaviť opakované platby"
		success: "Opakovaná platba bola zastavená."
		invalid: Neplatná požiadavka o zastavenie automatickej platby. Skúste to prosím znovu.
	reactivate:
		success: 'Automatická platba bola obnovená.'
		error: 'Automatickú platbu nie je možné obnoviť.'
		error_create_new: 'Automatickú platbu nie je možné obnoviť. Prosím vytvorte novú.'
	banktransfer:
		title: Údaje pre vašu platbu bankovým prevodom
		amount: Suma
		account_number: Číslo účtu
		variable_symbol: Variabilný symbol
		recipient_message: Správa pre prijímateľa
		delay_info: Pripísanie platby na účet môže trvať 1 až 2 pracovné dni. Predplatné sa aktivuje až po pripísaní platby na náš účet.
	select_card:
		title: 'Vyberte kartu na dokončenie platby'
		lead: 'Pamätáme si Vami použité karty, takže ich číslo nemusíte zadávať znova.'
		subtitle: 'Zoznam uložených kariet'
		card_with_expiration: 'Karta s expiráciou'
		use_card: 'Použiť kartu'
		use_new_card: 'Zadať novú kartu'
	proforma_invoice:
		title: Platba predfaktúrou
		form_title: 'Pre dokončenie objednávky prosím vyplňte fakturačné údaje'
		thank_you: 'Ďakujeme za vašu objednávku, predfaktúru Vám zašleme do 3 pracovných dní e-mailom.'

config:
	category: Platby
	category_confirmation: Potvrdzovacie e-maily
	donation_vat_rate:
		name: DPH pre dary
	tatrapay_sharedsecret:
		name: Tatrapay sharedsecret
	cardpay_sharedsecret:
		name: Cardpay sharedsecret
	comfortpay_terminalid:
		name: Comfortpay terminalid
	comfortpay_sharedsecret:
		name: Comfortpay sharedsecret
	comfortpay_local_cert_path:
		name: Cesta ku Comfortpay lokálnemu certifikátu
		description: "Cesta k certifikátu (napr. /data/web/example/cert.pem)"
	comfortpay_local_passphrase_path:
		name: Lokálna cesta ku Comfortpay passphrase
		description: "Cert pass cesta (napr. /data/web/example/pass)"
	comfortpay_tem:
		name: Comfortpay tem
		description: "Comfortpay odosielané info o registracii kariet (napr. Y)"
	comfortpay_rem:
		name: Comfortpay rem
		description: Comfortpay
	paypal_mode:
		name: Paypal mode
		description: 'Prepínač pre "test" (sandbox) mód alebo "live" (production) mód'
	paypal_username:
		name: Paypal username
	paypal_password:
		name: Paypal password
	paypal_signature:
		name: Paypal signature
	paypal_merchant:
		name: Paypal merchant
	csob_merchant_id:
		name: ČSOB Merchant ID
		description: 'Merchant ID poskytnuté bankou alebo vygenerované cez https://iplatebnibrana.csob.cz/keygen/ (pre vývojárske účely)'
	csob_shop_name:
		name: ČSOB obchodné meno
		description: "Obchodné meno zobrazené v popise platby (ak je automaticky vygenerované)"
	csob_bank_public_key_file_path:
		name: ČSOB Verejný kľúč banky pre verifikovanie odpovedí z banky
		description: "Cesta k verejnému kľúču banky dostupná na https://github.com/csob/paymentgateway/tree/master/keys (rozdielne kľúče pre sandbox a production)"
	csob_private_key_file_path:
		name: ČSOB Súkromný kľúč pre merchanta
		description: "Cesta ku súkromnému kľúču poskytnutého bankou alebo vygenerovaného na https://iplatebnibrana.csob.cz/keygen/ (pre vývojárske účely)"
	csob_mode:
		name: ČSOB gateway mode
		description: 'Prepínač pre "test" (sandbox) mód alebo "live" (production) mód'
	recurrent_payment_gateway_fail_delay:
		name: Pauza po neúspešnom spojení
		description: "Definícia intervalu (https://en.wikipedia.org/wiki/ISO_8601#Durations) po chybe v komunikácii. (napr. PT1H)"
	recurrent_payment_charges:
		name: Opakovanie rekurentnych platieb
		description: "Definicia intervalov (https://en.wikipedia.org/wiki/ISO_8601#Durations) oddelenych ciarkou. (napr. PT15M, PT6H, PT6H, PT6H, PT6H)"
	recurrent_charge_before:
		name: "Realizácia nasledujúcej platby (počet hodín pred vypršaním)"
		description: "Počet hodín pred skončením predplatného kedy má nastať automatické obnovenie (napr. 48). Prázdna hodnota naplánuje realizáciu ďalšej platby pri ukončení predplatného."
	gopay_go_id:
		name: GoPay Go ID
	gopay_client_id:
		name: GoPay Client ID
	gopay_client_secret:
		name: GoPay Client secret
	gopay_mode:
		name: GoPay Test Mode
	gopay_recurrence_date_to:
		name: GoPay rekurentný profil dátum do
	gopay_eet_enabled:
		name: Zapnuté EET
		description: Zapnutý EET reporting z platobnej brany
	tatrapay_mid:
		name: Tatrapay mid
	cardpay_mid:
		name: Cardpay mid
	comfortpay_mid:
		name: Comfortpay mid
	comfortpay_ws:
		name: Comforpay ws
	tatrabanka_pgp_private_key_path:
		name: TatraBanka PGP private key
		description: Cesta k suboru PGP private key pre dešifrovanie TatraBanka e-mailov
	tatrabanka_pgp_private_key_passphrase:
		name: TatraBanka PGP private key passphrase
		description: Heslo k suboru PGP private key pre dešifrovanie TatraBanka e-mailov
	confirmation_mail_host:
		name: Potvrzovacie emaily HOST
		description: Emailovy server kde chodia potvrdzovacie emaily z banky
	confirmation_mail_port:
		name: Potvrzovacie emaily PORT
	confirmation_mail_username:
		name: Potvrzovacie emaily Username
	confirmation_mail_password:
		name: Potvrzovacie emaily Heslo
	confirmation_mail_processed_folder:
		name: Potvrdzovacie emaily FOLDER po spracovani
		description: IMAP zložka do ktoreho sa presunie email po spracovani
	tb_simple_confirmation_host:
		name: 'TatraBanka Simple host'
		description: "IMAP host pre pripojenie (napr. imap.gmail.com) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
	tb_simple_confirmation_port:
		name: TatraBanka Simple port
		description: "IMAP port pre pripojenie (napr. 993) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
	tb_simple_confirmation_username:
		name: TatraBanka Simple username
		description: "IMAP prihlasovacie meno pre pripojenie (napr. example@gmail.com) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
	tb_simple_confirmation_password:
		name: TatraBanka Simple password
		description: "IMAP heslo pre pripojenie (napr. password) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
	tb_simple_confirmation_processed_folder:
		name: TatraBanka Simple zložka
		description: "IMAP zložka do ktoreho sa presunie email po spracovani (napr. INBOX/processed) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
	tb_confirmation_host:
		name: TatraBanka host
		description: "IMAP host pre pripojenie (napr. imap.gmail.com) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
	tb_confirmation_port:
		name: TatraBanka port
		description: "IMAP port pre pripojenie (napr. 993) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
	tb_confirmation_username:
		name: TatraBanka username
		description: "IMAP prihlasovacie meno pre pripojenie (napr. example@gmail.com) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
	tb_confirmation_password:
		name: TatraBanka password
		description: "IMAP heslo pre pripojenie (napr. password) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
	tb_confirmation_processed_folder:
		name: TatraBanka zložka
		description: "IMAP zložka do ktoreho sa presunie email po spracovani (napr. INBOX/processed) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
	csob_confirmation_host:
		name: 'ČSOB (CZ) host'
		description: "IMAP host pre pripojenie (napr. imap.gmail.com) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
	csob_confirmation_port:
		name: 'ČSOB (CZ) port'
		description: "IMAP port pre pripojenie (napr. 993) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
	csob_confirmation_username:
		name: 'ČSOB (CZ) username'
		description: "IMAP prihlasovacie meno pre pripojenie (napr. example@gmail.com) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
	csob_confirmation_password:
		name: 'ČSOB (CZ) password'
		description: "IMAP heslo pre pripojenie (napr. password) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
	csob_confirmation_processed_folder:
		name: 'ČSOB (CZ) zložka'
		description: "IMAP zložka do ktoreho sa presunie email po spracovani (napr. INBOX/processed) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
	sk_csob_confirmation_host:
		name: 'ČSOB (SK) host'
		description: "IMAP host pre pripojenie (napr. imap.gmail.com) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
	sk_csob_confirmation_port:
		name: 'ČSOB (SK) port'
		description: "IMAP port pre pripojenie (napr. 993) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
	sk_csob_confirmation_username:
		name: 'ČSOB (SK) username'
		description: "IMAP prihlasovacie meno pre pripojenie (napr. example@gmail.com) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
	sk_csob_confirmation_password:
		name: 'ČSOB (SK) password'
		description: "IMAP heslo pre pripojenie (napr. password) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
	sk_csob_confirmation_processed_folder:
		name: 'ČSOB (SK) zložka'
		description: "IMAP zložka do ktoreho sa presunie email po spracovani (napr. INBOX/processed) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
	tbs_confirmation_host:
		name: TatraBanka výpis host
		description: "IMAP host pre pripojenie (napr. imap.gmail.com) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
	tbs_confirmation_port:
		name: TatraBanka výpis port
		description: "IMAP port pre pripojenie (napr. 993) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
	tbs_confirmation_username:
		name: TatraBanka výpis username
		description: "IMAP prihlasovacie meno pre pripojenie (napr. example@gmail.com) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
	tbs_confirmation_password:
		name: TatraBanka výpis password
		description: "IMAP heslo pre pripojenie (napr. password) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
	tbs_confirmation_processed_folder:
		name: TatraBanka výpis zložka
		description: "IMAP zložka do ktoreho sa presunie email po spracovani (napr. INBOX/processed) (<a href='https://github.com/remp2020/crm-payments-module#confirmation-e-mails' target='_blank'>info</a>)"
