menu:
	stats: Payments
	payments: Payments

admin:
	component:
		actual_free_subscribers_stat_widget:
			title: Subscribers without payment
			help: Number of subscribers with active subscription without payment. Every user is counted once even though subscriber has multiple subscriptions.

		actual_paid_subscribers_stat_widget:
			title: Subscribers with payment
			help: Number of subscribers with active subscription with payment. Every user is counted once even though subscriber has multiple subscriptions.

		actual_nonfree_subscribers_stat_widget:
			title: Subscribers with paid subscriptions
			help: "Number of subscribers with active subscription which has type of subscription other than 'free'. Every user is counted only once even though subscriber has more subscriptions."

		change_payment_status:
			title: Change status of payment
			variable_symbol: Variable symbol
			created: Created
			status: Status
			change_to: Change to
			cancel: Cancel
			change_without_notification: Change without sending notification
			change_with_notification: Change and send notification
			messages:
				status_changed_successfully: Status of payment was successfully changed
				status_not_changed: Status of payment was not changed

		duplicate_recurrent_payments:
			none_found: No duplicate recurrent payment profiles found
			id: ID
			cid: CID
			created: Created
			edited: Edited
			next_charge: Next charge
			subscription_type: Subscription type
			card_expiration: Card expiration
			status: Status
			actions: Actions
			next_subscription: next will be
			stop_recurrent_profile: Stop recurrent profile
			stop_recurrent_profile_confirm: Confirm recurrent profile cancellation
			messages:
				recurrent_profile_stopped: Recurrent profile was stopped

		last_payments:
			title: Last payments
			variable_symbol: Variable symbol
			subscription: Subscription
			amount: Amount
			payment_gateway: Payment gateway
			subscription_type: Subscription type
			status: Status
			created: Created
			referrer: Referrer
			actions: Actions
			without_subscription: Without subscription
			edit: Edit
			badge_donation: donation
			badge_recurrent: recurrent

		subscribers_with_payment_widget:
			last_day: Last 24 hours
			last_days: Last %count% days
			description: Difference in the number of subscribers with payment for the given period.

		total_user_payments:
			spent: Spent in total
			for: for
			for_subscription_payments: "{1}subscription payment|[2,Inf]subscription payments"
			monthly_average: average monthly payment
			more: more
			less: less
			than_average: than average

		device_user_listing_widget:
			device: Device

	donation: Donation

	arpu:
		graph_label: ARPU
		all:
			title: ARPU - sum of all payments divided by count of payments
			tooltip: Shows sum of all payments in selected period divided by number of payments - ARPA
		manual:
			title: ARPU - sum of all new payments divided by count of payments
			tooltip: 'Shows sum of new payments (not recurrent) in selected period divided by number of payments - ARPA'
		recurrent:
			title: ARPU - sum of all recurrent divided by count of payments
			tooltip: 'Shows sum of recurrent payments in selected period divided by number of payments - ARPA'
	stats:
		title: Payment stats
		menu:
			general: General
			arpu: ARPU

gateway:
	recurrent: recurrent payment

frontend:
	my:
		my_payments: My payments
		payment_type: Payment type
		payment_day: Day
		variable_symbol: Transaction ID
		price: Price
		is_recurrent: Recurrent payment
		invoices: Invoices
		stop_recurrent: Stop recurrent paymemt
		restart_recurrent: Restart recurrent payment
		user_stopped: Stopped by you
		user_stopped_requested: Stopped by your request
		failed_recurrent: Failed recurrent payment
		success_recurrent: Automatically charged
		no_payments: You have no payments
		buy_offer: You can buy the subscription to get access to content.
		next_recurrent_payment: "You have recurrent payment enabled. Your next payment with amount of <strong>%charge_amount%€</strong> will occur on <strong>%charge_date%</strong>."
	recurrent_stop:
		title: Cancellation of recurrent payment
		cancel: "No, I'll think about it"
		confirm: "Yes, cancel the recurrent payment"
		success: "Opakovaná platba bola zastavená."
		invalid: Invalid request to stop recurrent payment. Please try again later.
	reactivate:
		success: 'Recurrent payment was reinstantiated.'
		error: It's not possible to reinstantiate recurrent payment anymore.
		error_create_new: "It's not possible to reinstantiate recurrent payment anymore. Please, create a new one"
	banktransfer:
		title: Bank transfer
		lead: Information about buying subscription via bank transfer
		amount: Amount
		account_number: Account number
		variable_symbol: Variable symbol
		recipient_message: Message for recipient
		delay_info: Payment settlement can take up to 2 business days. Subscription will be started after the payment is settled on our account.
		thank_you: Thank you
	proforma_invoice:
		title: Proforma invoice payment
		form_title: 'Please fill up your invoice details to complete the order'
		thank_you: 'Thank you for the order, the invoice will be sent to your email within 3 working days.'