menu:
	stats: Payments
	payments: Payments

admin:
	donation: Donation

	actual_free_subscribers_stat_widget:
		title: Subscribers without payment
		help: Subscription without payment. One user is one when I have multiple subscriptions.

	actual_nonfree_subscribers_stat_widget:
		title: Subscribers with paid subscriptions
		help: "All subscribers with active subscriptions which have type of subscription other than 'free'. Every user is counted only one time even though he has more subscriptions."

	subscribers_with_payment_widget:
		last_day: Last 24 hours
		last_days: Last %count% days
		description: Difference in the number of subscribers with payment for the given period.
	arpu:
		graph_label: ARPU
		all:
			title: ARPU - sum of all payments divided by count of payments
			tooltip: Shows sum of all payments in selected period divided by number of payments - ARPA
		manual:
			title: ARPU - sum of all new payments divided by count of payments
			tooltip: 'Shows sum of new payments (not recurrent) in selected period divided by number of payments - ARPA'
		recurrent:
			title: ARPU - sum of all recurrent divided by count of payments
			tooltip: 'Shows sum of recurrent payments in selected period divided by number of payments - ARPA'
	stats:
		title: Payment stats
		menu:
			general: General
			arpu: ARPU

gateway:
	recurrent: recurrent payment

frontend:
	my:
		my_payments: My payments
		payment_type: Payment type
		payment_day: Day
		variable_symbol: Transaction ID
		price: Price
		is_recurrent: Recurrent payment
		invoices: Invoices
		stop_recurrent: Stop recurrent paymemt
		restart_recurrent: Restart recurrent payment
		user_stopped: Stopped by you
		user_stopped_requested: Stopped by your request
		failed_recurrent: Failed recurrent payment
		success_recurrent: Automatically charged
		no_payments: You have no payments
		buy_offer: You can buy the subscription to get access to content.
		next_recurrent_payment: "You have recurrent payment enabled. Your next payment with amount of <strong>%charge_amount%€</strong> will occur on <strong>%charge_date%</strong>."
	recurrent_stop:
		title: Cancellation of recurrent payment
		cancel: "No, I'll think about it"
		confirm: "Yes, cancel the recurrent payment"
		success: "Opakovaná platba bola zastavená."
		invalid: Invalid request to stop recurrent payment. Please try again later.
	reactivate:
		success: 'Recurrent payment was reinstantiated.'
		error: It's not possible to reinstantiate recurrent payment anymore.
		error_create_new: "It's not possible to reinstantiate recurrent payment anymore. Please, create a new one"
	banktransfer:
		title: Bank transfer
		lead: Information about buying subscription via bank transfer
		amount: Amount
		account_number: Account number
		variable_symbol: Variable symbol
		recipient_message: Message for recipient
		delay_info: Payment settlement can take up to 2 business days. Subscription will be started after the payment is settled on our account.
		thank_you: Thank you