<li class="list-group-item"><b>{_payments.admin.component.avg_month_payment_widget.avg_month_payment}:</b> {$avgMonthPayment|price}
  {if $updatedAt}
    <span class="text-muted">({$updatedAt|userDate})</span>
  {/if}
</li>
