<i class="fa-solid fa-forward" style="margin-left: 5px; margin-right: 5px;"
   data-toggle="tooltip" data-placement="right"
   title={_payments.admin.component.show_renewal_payment_for_subscription_widget.title, ['renewal_payment_id' => $renewalPayment->id]}>
</i>
