<h3 class="page-header">{_payments.admin.component.subscription_detail_widget.header}</h3>
<ul class="list-group">
  <li class="list-group-item">
    <b>{_payments.admin.component.subscription_detail_widget.payment_id}:</b>&nbsp;
    <a href="{plink :Payments:PaymentsAdmin:show $payment->id}">
      #{$payment->id}
    </a>
  </li>
</ul>
